<header class="">
  <div class="container mx-auto px-4">
    <div class="flex h-20 items-center justify-between gap-4">
      <!-- Logo -->
      <div class="flex flex-1 md:flex-none md:justify-start">
        <a routerLink="/" class="flex items-center no-underline">
          <img src="/assets/icons/header-logo.svg" alt="Баскурьер" class="h-12 w-auto" />
        </a>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden flex-1 justify-center xl:flex">
        <app-navigation />
      </div>

      <!-- Right Section -->
      <div class="flex items-center gap-2">
        @if (isPhoneAvailable$ | async) {
          <a
            [href]="contactPhone | contactLink: 'tel'"
            class="shadow-contact relative ml-auto flex size-11 items-center justify-center rounded-full border border-gray-200 bg-white transition-shadow hover:shadow-sm active:top-0.5 md:size-auto md:space-x-3 md:border-none md:px-5 md:py-3"
          >
            <tui-icon icon="phone" [style.font-size.rem]="1" />
            <span class="hidden md:block">{{ contactPhone }}</span>
          </a>
        } @else {
          <div class="hidden lg:block">
            <button
              type="button"
              tuiButton
              iconStart="@tui.calculator"
              appearance="primary"
              size="s"
              class="bg-yellow-300 ring-2 ring-yellow-500 ring-offset-2"
              (click)="goToCalculatorPage()"
            >
              Рассчитать доставку
            </button>
          </div>
        }

        <!-- User Menu -->
        <div class="relative">
          @if (currentUser | async; as currentUser) {
            <button
              type="button"
              tuiDropdownLimitWidth="min"
              tuiDropdownMobile="Личный кабинет"
              class="cursor-pointer rounded-lg p-3 transition-colors hover:bg-gray-100"
              (click)="toggleUserMenu()"
              [tuiDropdownManual]="isUserMenuOpen"
              [tuiDropdown]="dropdownTemplate"
              (tuiActiveZoneChange)="onActiveZoneChange($event)"
            >
              <img src="/assets/icons/user-logged.svg" class="block size-10!" alt="" />
            </button>

            <ng-template #dropdownTemplate>
              <div class="w-full max-w-3xl">
                <div class="flex gap-4 border-b border-gray-100 p-4">
                  <img
                    src="/assets/icons/user-logged.svg"
                    alt=""
                    class="block size-10 rounded-full bg-gray-50"
                  />
                  <div class="flex flex-col">
                    <tui-line-clamp
                      class="max-w-[210px] font-medium"
                      [content]="currentUser.user_name"
                    />
                    <small>{{ currentUser.email }}</small>
                  </div>
                </div>

                @for (item of userMenuItems; track item.link) {
                  <a
                    [routerLink]="'/' + item.link"
                    routerLinkActive="bg-gray-50 font-medium"
                    class="flex w-full gap-2 border-b border-gray-100 px-4 py-3 text-gray-700 no-underline transition-colors duration-200 hover:bg-gray-50"
                    (click)="closeUserMenu()"
                  >
                    {{ item.name }}
                  </a>
                }
                <button
                  class="flex w-full cursor-pointer gap-2 border-0 bg-transparent px-4 py-3 text-left text-red-500 transition-colors duration-200 hover:bg-red-50 hover:text-red-600"
                  (click)="logout()"
                >
                  <tui-icon icon="@tui.log-out" [style.font-size.rem]="1.15" />
                  Выйти
                </button>
              </div>
            </ng-template>
          } @else {
            <button
              type="button"
              tuiButton
              appearance="neutral"
              [routerLink]="['/auth/login']"
              class="ml-3"
            >
              <span class="font-normal">Войти</span>
            </button>
          }
        </div>
        <!-- Mobile Menu Button -->
        <button
          tuiButton
          appearance="flat"
          class="xl:hidden!"
          (click)="mobileMenuOpen.set(true)"
          aria-label="Открыть меню"
        >
          <tui-icon icon="@tui.menu" />
        </button>
      </div>
    </div>
  </div>
</header>

<tui-drawer
  direction="right"
  class="drawer"
  [overlay]="true"
  (click.self)="closeMobileMenu()"
  *tuiPopup="mobileMenuOpen()"
>
  <header class="sticky py-2!">
    <div class="flex items-center justify-between py-2">
      <a routerLink="/" class="flex items-center no-underline" (click)="closeMobileMenu()">
        <img src="/assets/icons/header-logo.svg" alt="Баскурьер" class="h-10 w-auto" />
      </a>
      <div tuiAccessories class="relative -right-3">
        <button tuiButton appearance="flat" type="button" (click)="closeMobileMenu()">
          <tui-icon icon="@tui.x" [style.font-size.rem]="1.5"></tui-icon>
        </button>
      </div>
    </div>
  </header>
  <app-mobile-menu (navigate)="closeMobileMenu()" />
  <footer class="bg-gray-50!">
    <div class="flex w-full flex-col items-center py-4">
      <button
        type="button"
        tuiButton
        appearance="primary"
        iconStart="@tui.calculator"
        size="m"
        class="bg-yellow-300 ring-2 ring-yellow-500 ring-offset-2"
        (click)="goToCalculatorPage(true)"
      >
        Рассчитать доставку
      </button>
    </div>
  </footer>
</tui-drawer>
