ymaps[class*='copyright'] {
  display: none;
}

ymaps[class*='map-copyrights-promo'] {
  display: none;
}

[class*='ymaps-2'][class*='-ground-pane'] {
  filter: grayscale(1) brightness(0.9);
}

ymaps[class*='controls-pane'] {
  display: none;
}

y-map ymaps[class*='main-engine-container'] {
  filter: grayscale(100%) brightness(0.95);
}
