@if (form) {
  <div [formGroup]="form" class="space-y-4">
    <label tuiLabel class="block">
      <span class="mb-1 inline-block text-sm text-gray-700">
        {{ 'address.labels.street' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield class="w-full">
          <input
            tuiTextfield
            tuiHintAppearance="error"
            [formControl]="street"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'address.placeholders.street' | transloco"
          />
        </tui-textfield>
      </div>
    </label>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <label tuiLabel class="block">
        <span class="mb-1 inline-block text-sm text-gray-700">
          {{ 'address.labels.building' | transloco }}
        </span>
        <div class="relative">
          <tui-textfield class="w-full">
            <input
              tuiTextfield
              tuiHintAppearance="error"
              [formControl]="building"
              [tuiHint]="[] | tuiFieldErrorContent"
              [placeholder]="'address.placeholders.building' | transloco"
            />
          </tui-textfield>
        </div>
      </label>

      <label tuiLabel class="block">
        <span class="mb-1 inline-block text-sm text-gray-700">
          {{ 'address.labels.apartment' | transloco }}
        </span>
        <div class="relative">
          <tui-textfield class="w-full">
            <input
              tuiTextfield
              tuiHintAppearance="error"
              [formControl]="apartment"
              [tuiHint]="[] | tuiFieldErrorContent"
              [placeholder]="'address.placeholders.apartment' | transloco"
            />
          </tui-textfield>
        </div>
      </label>
    </div>

    <div class="mt-4 mb-2">
      <div class="flex items-center">
        <tui-icon
          icon="@tui.clock"
          class="mr-2"
          [style.color]="'var(--tui-background-accent-1)'"
          [style.font-size.rem]="1"
        />
        <span class="text-sm font-medium text-gray-700">
          {{ 'time.labels.preferredTime' | transloco }}
        </span>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      @for (slot of preferredTimeSlots; track slot.id) {
        <label class="relative cursor-pointer">
          <input
            type="radio"
            class="peer absolute opacity-0"
            [value]="slot"
            [formControl]="preferredTime"
          />
          <div
            class="flex items-center justify-center rounded-md border border-gray-200 p-3 text-center text-gray-700 transition-all peer-checked:border-yellow-500 peer-checked:bg-yellow-50 peer-checked:font-medium peer-checked:text-yellow-600 hover:bg-gray-50"
          >
            {{ slot.label }}
          </div>
        </label>
      }
    </div>
  </div>
}
