@let lastNews = lastNews$ | async;

<div class="h-56 bg-gray-50 py-4 xl:h-64">
  @if (lastNews && lastNews.length > 0) {
    <div class="container mx-auto flex justify-center px-6 sm:block">
      <app-carousel
        appearance="secondary"
        pagination="top"
        [items]="lastNews"
        [itemTemplate]="slideTemplate"
        class="max-w-[400px] sm:max-w-none"
      />
    </div>
  }
</div>

<!--<div class="mt-12 text-center">-->
<!--  @if (lastNews?.length) {-->
<!--    <button-->
<!--      type="button"-->
<!--      tuiButton-->
<!--      iconEnd="@tui.move-right"-->
<!--      appearance="accent"-->
<!--      size="l"-->
<!--      class="w-xs"-->
<!--      routerLink="/news"-->
<!--    >-->
<!--      Все новости-->
<!--    </button>-->
<!--  }-->
<!--</div>-->

<ng-template #slideTemplate let-article>
  <app-news-banner [article]="article" />
</ng-template>
