@let lastNews = lastNews$ | async;

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  @for (article of lastNews; track article.id) {
    <app-news-card [article]="article" />
  } @empty {
    <div class="w-[395px] h-[393px] rounded-xl bg-black/5"></div>
    <div class="w-[395px] h-[393px] rounded-xl bg-black/5"></div>
    <div class="w-[395px] h-[393px] rounded-xl bg-black/10"></div>
  }
</div>
<div class="text-center mt-12">
  @if (lastNews?.length) {
    <button
      type="button"
      tuiButton
      iconEnd="@tui.move-right"
      appearance="accent"
      size="l"
      class="w-xs"
      routerLink="/news"
    >
      Все новости
    </button>
  }
</div>
