@let lastNews = lastNews$ | async;

<div class="bg-gray-50 p-4 transition-all min-[420px]:px-20 sm:px-7 sm:group-hover:px-20">
  @if (lastNews && lastNews.length > 0) {
    <div class="mx-auto max-w-[280px] sm:max-w-full">
      <app-carousel
        appearance="secondary"
        pagination="top"
        [items]="lastNews"
        [itemTemplate]="slideTemplate"
      />
    </div>
  }
</div>

<!--<div class="mt-12 text-center">-->
<!--  @if (lastNews?.length) {-->
<!--    <button-->
<!--      type="button"-->
<!--      tuiButton-->
<!--      iconEnd="@tui.move-right"-->
<!--      appearance="accent"-->
<!--      size="l"-->
<!--      class="w-xs"-->
<!--      routerLink="/news"-->
<!--    >-->
<!--      Все новости-->
<!--    </button>-->
<!--  }-->
<!--</div>-->

<ng-template #slideTemplate let-article>
  <app-news-banner [article]="article" />
</ng-template>
