@let vm = pageViewModel$ | async;
@let hasTitle = (showTitle ?? vm?.layout?.showTitle) && vm?.content?.title;
@let hasDescription = vm?.layout?.showDescription && vm?.content?.description;

@if (showBreadcrumbs) {
  <div class="bg-gray-50">
    <div class="container mx-auto px-4">
      <app-breadcrumbs />
    </div>
  </div>
}

<main class="container mx-auto px-4 pt-10 md:pt-16">
  <div
    class="flex flex-col gap-4 sm:flex-row"
    [class.mb-8]="hasTitle || hasDescription || hasHeaderContent"
    [class.sm:mb-16]="hasTitle || hasDescription || hasHeaderContent"
  >
    <div class="grow">
      @if (hasTitle) {
        <h1 class="text-4xl font-bold">{{ vm?.content?.title }}</h1>
      }

      @if (hasDescription) {
        <div class="mt-2 max-w-[800px]">
          @for (paragraph of vm?.content?.description; track $index) {
            <p class="text-md text-gray-800 only:mb-0">{{ paragraph }}</p>
          }
        </div>
      }
    </div>
    <div class="shrink-0">
      <ng-content select="[appPageHeaderContent]" />
    </div>
  </div>
  <ng-content />
</main>
