@if (form) {
  <h3 class="mb-4 border-b border-gray-100 pb-3 text-lg font-medium text-gray-800">
    {{ 'booking.destination.recipient.title' | transloco }}
  </h3>

  <div [formGroup]="form" class="grid gap-4 sm:grid-cols-2">
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.fullName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield #fullNameInput>
          <input
            tuiTextfield
            [formControl]="fullName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.fullName.minLength"
            [maxlength]="limits.user.fullName.maxLength"
            [attr.maxlength]="limits.user.fullName.maxLength"
            tuiHintAppearance="error"
            [placeholder]="'user.placeholders.fullName' | transloco"
          />
        </tui-textfield>
        @if (fullNameInput.focused()) {
          <span class="absolute top-1/2 right-2 -translate-y-1/2">
            <tui-badge
              appearance="secondary"
              [tuiHint]="'hint.messages.availableSymbols' | transloco"
              size="s"
            >
              {{ availableFullNameLength }}
            </tui-badge>
          </span>
        }
      </div>
    </label>
    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'contacts.labels.phone' | transloco }}
      </span>

      <tui-textfield>
        <input
          autocomplete="tel"
          mask="+7 ### ###-##-##"
          tuiInputPhone
          [attr.pattern]="pattern"
          [formControl]="phone"
          [tuiHint]="[] | tuiFieldErrorContent"
          tuiHintAppearance="error"
          [placeholder]="'contacts.placeholders.phone' | transloco"
        />
      </tui-textfield>
    </div>
  </div>
}
