<div class="p-5">
  <h1 class="mb-4 text-lg font-medium">{{ data.title }}</h1>
  <!--  <p class="mb-4 text-sm">{{ data.dimensions }}</p>-->
  <div class="flex items-end space-x-2">
    <label tuiLabel class="counter block grow">
      {{ 'fields.quantity' | transloco }}

      <tui-textfield>
        <input tuiInputNumber placeholder="0" [formControl]="quantity" [step]="1" />
      </tui-textfield>
    </label>
    <button type="button" tuiButton size="m" (click)="onSubmit()" [disabled]="quantity.invalid">
      {{ 'buttons.add' | transloco }}
    </button>
  </div>
</div>
