<form [class]="getFormClasses()" (ngSubmit)="onSubmit()">
  <b class="mb-6 block text-2xl leading-7 font-bold lg:text-2xl">Рассчитайте стоимость</b>
  <div tuiLabel class="mb-4">
    <span class="mb-1 block text-sm text-gray-700">Город отправления</span>
    <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Город отправления">
      @if (isMobile) {
        <input
          tuiSelect
          [formControl]="pickupCity"
          tuiHintAppearance="error"
          [placeholder]="'Выберите город'"
        />
      } @else {
        <input
          tuiComboBox
          [formControl]="pickupCity"
          tuiHintAppearance="error"
          [placeholder]="'Выберите город'"
        />
      }

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [items]="pickupCities$ | async | tuiFilterByInput"
      />
    </tui-textfield>
  </div>
  <div tuiLabel class="mb-6">
    <span class="mb-1 block text-sm text-gray-700">Город получения</span>
    <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Город получения">
      @if (isMobile) {
        <input
          tuiSelect
          [formControl]="deliveryCity"
          tuiHintAppearance="error"
          [placeholder]="'Выберите город'"
        />
      } @else {
        <input
          tuiComboBox
          [formControl]="deliveryCity"
          tuiHintAppearance="error"
          [placeholder]="'Выберите город'"
        />
      }

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [items]="deliveryCities$ | async | tuiFilterByInput"
      />
    </tui-textfield>
  </div>

  <button type="submit" tuiButton appearance="accent" class="w-full">Рассчитать</button>
</form>
