@let vm = vm$ | async;

@if (vm) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (article of vm.list.data; track article.news_id) {
      <app-news-card [article]="article" />
    } @empty {
      <div class="w-[395px] h-[393px] rounded-xl bg-black/5"></div>
      <div class="w-[395px] h-[393px] rounded-xl bg-black/5"></div>
      <div class="w-[395px] h-[393px] rounded-xl bg-black/10"></div>
      <div class="w-[395px] h-[393px] rounded-xl bg-black/10"></div>
      <div class="w-[395px] h-[393px] rounded-xl bg-black/10"></div>
      <div class="w-[395px] h-[393px] rounded-xl bg-black/10"></div>
    }
  </div>
}
