<app-sidebar-layout [documentTypes]="['rules']">
  <app-steps>
    @for (step of steps; track step.id) {
      <app-step-card [step]="step" *appStep>
        @switch (step.id) {
          @case (1) {
            <p class="mb-4">
              Приезжайте в филиал Баскурьер, назовите код из SMS и получите посылку у нашего
              сотрудника.
            </p>
          }
          @case (2) {
            <p class="mb-4">
              Мы привезём посылку автобусом. Нужно встретить его на автостанции и забрать у
              водителя. Приходите на станцию за
              <b>20–30 минут</b>
              — автобус может задержаться или приехать раньше.
            </p>
          }
          @case (3) {
            <p class="mb-4">
              После того как ваша посылка будет отправлена вы получите SMS с номером заказа,
              маршрутом и временем прибытия. В сообщении будет вся информация, чтобы без проблем
              забрать посылку.
            </p>
          }
          @case (4) {
            <p class="mb-4">
              Чтобы забрать посылку при встрече автобуса, необходимо будет предъявить документ
              (паспорт, водительское или военный билет)
            </p>
          }
        }
      </app-step-card>
    }
  </app-steps>
</app-sidebar-layout>
