<app-sidebar-layout [documentTypes]="['rules']">
  <app-steps>
    <div *appStep>
      <p class="mb-1">Вы можете забрать посылку в одном из наших филиалов.</p>
      <a [routerLink]="contactsLink" class="link-blue-500"> Смотреть адреса филиалов </a>
    </div>
    <p *appStep>
      Если вы получаете посылку в населенном пункте, где нет нашего филиала, то вам необходимо
      встретить автобус на автостанции и забрать посылку у водителя.
    </p>
    <div *appStep>
      <p class="mb-3">
        После того, как ваша посылка будет оправлена, вам придет смс с информацией: номер заказа,
        гос. номер автобуса, маршрут, приблизительное время прибытия автобуса
      </p>
      <p>
        Обращаем ваше внимание, что автобусы могут задерживаться в дороге или, наоборот, могут
        приехать раньше. Поэтому необходимо прибыть на станцию за 20 минут до указанного в смс
        времени, а также не торопитесь уезжать, если автобус не приехал вовремя.
      </p>
    </div>
    <p *appStep>
      Для получения посылки вам понадобятся документы, удостоверяющие личность (паспорт, военный
      билет или водительское удостоверение).
    </p>
  </app-steps>
</app-sidebar-layout>
