@let review = review$ | async;

@if (review) {
  <div class="space-y-8">
    <div class="mb-12">
      <h2 class="text-2xl font-bold">{{ 'booking.review.title' | transloco }}</h2>
      <p class="mt-1 text-sm text-gray-600">
        {{ 'booking.review.subtitle' | transloco }}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
      @for (section of review.sections; track $index) {
        <div class="rounded-lg border border-gray-200 bg-white p-5 shadow-sm">
          <h3
            class="text-md mb-3 flex items-center border-b border-gray-100 pb-2 font-medium text-gray-700"
          >
            <span class="text-md mr-2 inline-block text-yellow-500">0{{ $index + 1 }}.</span>
            {{ section.title | transloco }}
          </h3>

          <div class="space-y-2">
            @for (field of section.fields; track $index) {
              <div class="flex justify-between gap-4 py-1.5">
                <span class="text-sm text-gray-500">{{ field.label | transloco }}</span>
                <tui-line-clamp
                  [linesLimit]="1"
                  [lineHeight]="20"
                  [content]="field.value"
                  class="max-w-[210px] text-right text-sm font-medium text-gray-800"
                />
              </div>
            }
          </div>
        </div>
      }
    </div>

    @if (review.order; as order) {
      <div class="rounded-lg border border-gray-200 bg-white p-5 shadow-sm">
        <h3
          class="text-md mb-3 flex items-center border-b border-gray-100 pb-2 font-medium text-gray-700"
        >
          <span class="text-md mr-2 inline-block text-yellow-500">05.</span>
          Детали груза
        </h3>

        @if (order.cargoType === 'DOCUMENTS' && order.documents) {
          <div class="mb-4 rounded-md bg-gray-50 p-4">
            <div class="flex items-center justify-between">
              <span class="font-medium">Документы</span>
              <span
                class="inline-flex items-center rounded-md bg-yellow-400 px-2.5 py-0.5 text-sm font-medium text-black"
              >
                {{ order.documents.quantity }} шт
              </span>
            </div>
          </div>
        }

        @if (order.cargoType === 'PARCELS' && order.parcels) {
          <div class="mb-4 space-y-3">
            @for (parcel of order.parcels; track $index) {
              <div class="rounded-md bg-gray-50 p-4">
                <div class="mb-2 flex items-center justify-between">
                  <span class="font-medium">Посылка {{ $index + 1 }}</span>
                  <span
                    class="inline-flex items-center rounded-md bg-yellow-400 px-2.5 py-0.5 text-sm font-medium text-black"
                  >
                    {{ parcel.quantity }} шт
                  </span>
                </div>
                <div class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm">
                  <div class="flex justify-between">
                    <span class="text-gray-500">Вес:</span>
                    <span class="font-medium">{{ parcel.weight }} кг</span>
                  </div>
                  <div class="flex justify-between">
                    <span class="text-gray-500">Габариты:</span>
                    <span class="font-medium">
                      {{ parcel.dimensions.width }}×{{ parcel.dimensions.height }} ×{{
                        parcel.dimensions.length
                      }}
                      см
                    </span>
                  </div>
                </div>
              </div>
            }
          </div>
        }

        @if (order.cargoType === 'AUTO_PARTS' && order.autoParts) {
          <div class="mb-4 space-y-3">
            @for (autoPart of order.autoParts; track $index) {
              <div class="rounded-md bg-gray-50 p-4">
                <div class="mb-2 flex items-center justify-between">
                  <span class="font-medium">{{ autoPart?.preset?.name || 'Запчасть №1' }}</span>
                  <span
                    class="inline-flex items-center rounded-md bg-yellow-400 px-2.5 py-0.5 text-sm font-medium text-black"
                  >
                    {{ autoPart.params.quantity }} шт
                  </span>
                </div>
                <div class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm">
                  <div class="flex justify-between">
                    <span class="text-gray-500">Вес:</span>
                    <span class="font-medium">{{ autoPart.params.weight }} кг</span>
                  </div>
                  <div class="flex justify-between">
                    <span class="text-gray-500">Габариты:</span>
                    <span class="font-medium">
                      {{ autoPart.params.dimensions.width }}×{{
                        autoPart.params.dimensions.height
                      }}
                      ×{{ autoPart.params.dimensions.length }}
                      см
                    </span>
                  </div>
                </div>
              </div>
            }
          </div>
        }

        @if (order.cargoType === 'OTHER' && order.otherCargo) {
          <div class="mb-4 rounded-md bg-gray-50 p-4">
            <div class="flex items-center justify-between">
              <span class="font-medium">Другое ({{ order.otherCargo.name }})</span>
              <span
                class="inline-flex items-center rounded-md bg-yellow-400 px-2.5 py-0.5 text-sm font-medium text-black"
              >
                {{ order.otherCargo.quantity }} шт
              </span>
            </div>
          </div>
        }

        @if (order.packaging && order.packaging.items.length) {
          <div class="mt-8">
            <h3
              class="text-md mb-3 flex items-center border-b border-gray-100 pb-2 font-medium text-gray-700"
            >
              <span class="text-md mr-2 inline-block text-yellow-500">06.</span>
              Упаковка
            </h3>

            <div class="flex flex-wrap gap-4">
              @for (item of order.packaging.items; track $index) {
                <div class="flex items-center rounded bg-gray-50 p-2">
                  <div class="flex-grow">
                    <span class="text-sm font-medium">{{ item.type }} {{ item.variant }}</span>
                  </div>
                  <span
                    class="ml-2 inline-flex items-center justify-center rounded bg-yellow-400 px-2 py-1 text-xs font-medium whitespace-nowrap text-black"
                  >
                    {{ item.quantity }} шт
                  </span>
                </div>
              }
            </div>
          </div>
        }

        @if (order.additionalServices) {
          <div class="mt-8">
            <h3
              class="text-md mb-3 flex items-center border-b border-gray-100 pb-2 font-medium text-gray-700"
            >
              <span class="text-md mr-2 inline-block text-yellow-500">07.</span>
              Дополнительные услуги
            </h3>

            <div class="flex flex-wrap gap-2">
              @if (order.additionalServices.insurance) {
                <div class="flex items-center rounded bg-gray-50 p-2">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">
                    {{ order.additionalServices.insurance.displayName | transloco }}
                    @if (order.additionalServices.insurance.amount) {
                      <span class="text-xs text-gray-500">
                        ({{ order.additionalServices.insurance.amount }} ₽)
                      </span>
                    }
                  </span>
                </div>
              }

              @if (order.additionalServices.extendedSms) {
                <div class="flex items-center rounded bg-gray-50 p-2">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">
                    {{ order.additionalServices.extendedSms.displayName | transloco }}
                  </span>
                </div>
              }

              @if (order.additionalServices.senderSms) {
                <div class="flex items-center rounded bg-gray-50 p-2">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">
                    {{ order.additionalServices.senderSms.displayName | transloco }}
                  </span>
                </div>
              }

              @if (order.additionalServices.recipientPayment) {
                <div class="flex items-center rounded bg-gray-50 p-2">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">
                    {{ order.additionalServices.recipientPayment.displayName | transloco }}
                  </span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }

    <app-review-confirmation />
  </div>
}
