@if (form) {
  <div class="mb-6">
    <h3 class="mb-4 border-b border-gray-100 pb-3 text-xl font-medium text-gray-800">
      {{ 'booking.departure.sender.title' | transloco }}
    </h3>

    <div [formGroup]="form" class="space-y-4">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <label class="block">
          <span class="mb-1 block text-sm text-gray-700">
            {{ 'user.labels.fullName' | transloco }}
          </span>
          <div class="relative">
            <tui-textfield class="w-full">
              <input
                tuiTextfield
                [formControl]="fullName"
                [tuiHint]="[] | tuiFieldErrorContent"
                tuiHintAppearance="error"
                [placeholder]="'user.placeholders.fullName' | transloco"
              />
            </tui-textfield>
          </div>
        </label>

        <div class="block">
          <span class="mb-1 block text-sm text-gray-700">
            {{ 'contacts.labels.phone' | transloco }}
          </span>
          <tui-textfield>
            <input
              autocomplete="tel"
              mask="+7 ### ###-##-##"
              tuiInputPhone
              [attr.pattern]="pattern"
              [formControl]="phone"
              [tuiHint]="[] | tuiFieldErrorContent"
              tuiHintAppearance="error"
              [placeholder]="'contacts.placeholders.phone' | transloco"
            />
          </tui-textfield>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <label class="block">
          <span class="mb-1 block text-sm text-gray-700">
            {{ 'document.labels.document' | transloco }}
          </span>
          <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Тип документа">
            <input
              tuiSelect
              [formControl]="document"
              [tuiHint]="[] | tuiFieldErrorContent"
              tuiHintAppearance="error"
              [placeholder]="'user.placeholders.document | transloco' | transloco"
            />

            <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="senderDocuments" />
          </tui-textfield>
        </label>

        <label class="block">
          <span class="mb-1 block text-sm text-gray-700">
            {{ 'document.labels.documentNumber' | transloco }}
          </span>
          <tui-textfield>
            <input
              tuiTextfield
              [formControl]="documentNumber"
              [tuiHint]="[] | tuiFieldErrorContent"
              tuiHintAppearance="error"
              [placeholder]="documentPlaceholder()"
              [maskito]="documentMask()"
            />
          </tui-textfield>
        </label>
      </div>
    </div>
  </div>
}
