<div class="">
  <div class="grid grid-cols-1 gap-2" [class.md:grid-cols-[3fr_1fr]]="item.value">
    <div tuiLabel class="mb-2">
      <div class="mb-1.5 flex items-center">
        <span class="text-sm text-gray-600">
          {{ 'deliveryDetails.autoParts.label' | transloco }}
        </span>
      </div>
      <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Автозапчасти">
        @if (isMobile) {
          <input
            tuiSelect
            [formControl]="item"
            [placeholder]="'deliveryDetails.autoParts.placeholder' | transloco"
          />
        } @else {
          <input
            tuiComboBox
            [formControl]="item"
            [placeholder]="'deliveryDetails.autoParts.placeholder' | transloco"
          />
        }

        <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="options | tuiFilterByInput" />
      </tui-textfield>
    </div>

    @if (item.value) {
      <div tuiLabel>
        <div class="mb-1.5 flex items-center">
          <span class="text-sm text-gray-600">
            {{ 'deliveryDetails.fields.quantity' | transloco }}
          </span>
        </div>
        <tui-textfield>
          <input
            tuiInputNumber
            placeholder="0"
            [formControl]="quantity"
            (blur)="setMinQuantityOnBlur()"
            [step]="1"
          />
        </tui-textfield>
      </div>
    }
  </div>

  <tui-notification appearance="warning" size="m" class="mt-2">
    {{ 'deliveryDetails.autoParts.info' | transloco }}
  </tui-notification>
</div>
