@let vm = vm$ | async;

@if (vm) {
  <div class="text-md mb-1">Ваш баланс:</div>
  <div class="flex items-center gap-2">
    <b class="h-13 text-4xl leading-normal" [tuiSkeleton]="vm.summary.isLoading">
      {{ vm.summary.data?.total || 0 }} {{ 'RUB' | tuiCurrency }}
    </b>
    <button
      tuiIconButton
      type="button"
      appearance="icon"
      iconStart="@tui.refresh-ccw"
      [tuiHint]="vm.summary.hasData && tooltip"
      tuiHintAppearance="dark"
      [class.animate-spin]="vm.summary.isLoading"
      (click)="loadSummary()"
    >
      &nbsp;
    </button>
  </div>

  <ng-template #tooltip>
    <div class="text-xs">За период:</div>
    <b class="text-xs">{{ vm.summary.data?.period }}</b>
    <br />
    <span class="text-xs">На счету:</span>
    <b class="text-xs">{{ vm.summary.data?.debet }} {{ 'RUB' | tuiCurrency }}</b>
    <br />
    <span class="text-xs">Заказов на:</span>
    <b class="text-xs">{{ vm.summary.data?.orderSum }} {{ 'RUB' | tuiCurrency }}</b>
    <br />
    <span class="text-xs">Услуг на:</span>
    <b class="text-xs">{{ vm.summary.data?.serviceSum }} {{ 'RUB' | tuiCurrency }}</b>
  </ng-template>
}
