@let vm = vm$ | async;

<b class="mb-3 flex items-center justify-between border-b border-gray-100 pb-3 text-lg">
  Тип груза
</b>

@if (vm && vm.options.isLoaded) {
  <app-order-tabs
    [tabs]="vm.orders.items"
    [isActiveOrderValid]="vm.orders.isActiveValid"
    [maxTabs]="MAX_ORDERS"
    (add)="addOrder()"
    (remove)="removeOrder($event)"
    (selectOrder)="setActiveOrder($event)"
  />
  @if (vm?.orders?.active; as order) {
    <app-cargo-picker
      [activeType]="order.cargoType"
      [types]="vm.options.cargoTypes"
      (typeChange)="setCargoType(order.id, $event)"
    />

    <div [@cargoSwitch]="order.cargoType">
      @switch (order.cargoType) {
        @case (CargoType.PARCELS) {
          @defer {
            <app-parcels
              [data]="order.parcels"
              (dataChange)="updateOrderData(order.id, 'parcels', $event)"
              (validationChange)="updateOrderValidation(order.id, 'parcels', $event)"
            />
          }
        }
        @case (CargoType.AUTO_PARTS) {
          @defer {
            <app-auto-parts
              [data]="order.autoParts"
              [options]="vm.options.autoParts"
              (dataChange)="updateOrderData(order.id, 'autoParts', $event)"
              (validationChange)="updateOrderValidation(order.id, 'autoParts', $event)"
            />
          }
        }
        @case (CargoType.OTHER) {
          @defer {
            <app-other-cargo
              [data]="order.otherCargo"
              [options]="vm.options.otherCargos"
              (dataChange)="updateOrderData(order.id, 'otherCargo', $event)"
              (validationChange)="updateOrderValidation(order.id, 'otherCargo', $event)"
            />
          }
        }
        @default {
          @defer {
            <app-documents
              [data]="order.documents"
              (dataChange)="updateOrderData(order.id, 'documents', $event)"
              (validationChange)="updateOrderValidation(order.id, 'documents', $event)"
            />
          }
        }
      }
    </div>

    <div>
      <app-packaging
        [data]="order.packaging"
        [options]="vm.options.packaging"
        (dataChange)="updateOrderData(order.id, 'packaging', $event)"
        (validationChange)="updateOrderValidation(order.id, 'packaging', $event)"
      />
      <app-additional-services
        [data]="order.additionalServices"
        [options]="vm.options.additionalServices"
        (dataChange)="updateOrderData(order.id, 'additionalServices', $event)"
        (validationChange)="updateOrderValidation(order.id, 'additionalServices', $event)"
      />
    </div>
  }
} @else if (vm?.options?.isLoading) {
  <div class="p-4">
    <!-- Skeleton for orders's tabs -->
    <div class="mb-6 flex items-center gap-3">
      <!-- Orders tabs -->
      <div
        class="flex h-9 w-32 items-center justify-between rounded-lg px-3 py-2"
        [tuiSkeleton]="true"
      ></div>
      <div
        class="flex h-9 w-32 items-center justify-between rounded-lg px-3 py-2"
        [tuiSkeleton]="true"
      ></div>
      <div
        class="flex h-9 w-32 items-center justify-between rounded-lg px-3 py-2"
        [tuiSkeleton]="true"
      ></div>

      <!-- Tab "Add" -->
      <div class="h-9 w-28 rounded-lg" [tuiSkeleton]="true"></div>
    </div>

    <!-- Skeleton for cargo-picker -->
    <div class="mb-8">
      <div class="flex gap-4">
        <div class="h-12 flex-1 rounded-lg p-3" [tuiSkeleton]="true"></div>
        <div class="h-12 flex-1 rounded-lg p-3" [tuiSkeleton]="true"></div>
        <div class="h-12 flex-1 rounded-lg p-3" [tuiSkeleton]="true"></div>
        <div class="h-12 flex-1 rounded-lg p-3" [tuiSkeleton]="true"></div>
      </div>
    </div>

    <!-- Skeleton for order details -->
    <div class="mb-8">
      <!-- Parcels skeleton -->
      <div class="mb-6 rounded-lg border border-gray-100 p-5">
        <!-- Title -->
        <div class="mb-4 h-6 w-1/6" [tuiSkeleton]="true"></div>

        <!--Form fields -->
        <div class="mb-4 grid grid-cols-3 gap-6">
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
        </div>

        <!-- Dimensions-->
        <div class="mb-4 grid grid-cols-3 gap-6">
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
          <div>
            <div class="mb-2 h-5 w-1/2" [tuiSkeleton]="true"></div>
            <div class="h-10 w-full rounded" [tuiSkeleton]="true"></div>
          </div>
        </div>

        <!-- Delete button -->
        <div class="flex justify-end">
          <div class="h-10 w-10 rounded-full" [tuiSkeleton]="true"></div>
        </div>
      </div>

      <!-- Button add 1 more -->
      <div class="h-10 w-64 rounded-lg" [tuiSkeleton]="true"></div>
    </div>

    <!-- Скелетон для блоков упаковки и доп. услуг -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <!-- Скелетон для упаковки -->
      <div>
        <!-- Packaging title -->
        <div class="mb-6">
          <div class="mb-3 h-6 w-1/3" [tuiSkeleton]="true"></div>

          <!-- Packaging -->
          <div class="mb-4">
            <div class="mb-2 flex items-center">
              <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
              <div class="h-5 w-40" [tuiSkeleton]="true"></div>
              <div class="ml-auto h-5 w-20" [tuiSkeleton]="true"></div>
            </div>
            <div class="mb-2 flex items-center">
              <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
              <div class="h-5 w-36" [tuiSkeleton]="true"></div>
              <div class="ml-auto h-5 w-20" [tuiSkeleton]="true"></div>
            </div>
          </div>

          <!-- Safe packs -->
          <div class="mb-4">
            <div class="mb-3 h-6 w-1/3" [tuiSkeleton]="true"></div>
            <div class="mb-2 flex items-center">
              <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
              <div class="h-5 w-44" [tuiSkeleton]="true"></div>
              <div class="ml-auto h-5 w-20" [tuiSkeleton]="true"></div>
            </div>
            <div class="mb-2 flex items-center">
              <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
              <div class="h-5 w-48" [tuiSkeleton]="true"></div>
              <div class="ml-auto h-5 w-20" [tuiSkeleton]="true"></div>
            </div>
          </div>

          <!-- Other packging -->
          <div class="mb-4">
            <div class="mb-3 h-6 w-1/3" [tuiSkeleton]="true"></div>
            <div class="mb-2 flex items-center">
              <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
              <div class="h-5 w-40" [tuiSkeleton]="true"></div>
              <div class="ml-auto h-5 w-20" [tuiSkeleton]="true"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Skeleton for additional services -->
      <div>
        <!-- Insurance -->
        <div class="mb-6">
          <div class="mb-3 flex items-center">
            <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
            <div class="h-5 w-32" [tuiSkeleton]="true"></div>
          </div>
          <div class="h-10 w-full rounded-lg" [tuiSkeleton]="true"></div>
        </div>

        <!-- SMS Services -->
        <div class="mb-6">
          <div class="mb-3 flex items-center">
            <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
            <div class="h-5 w-40" [tuiSkeleton]="true"></div>
          </div>
          <div class="h-10 w-full rounded-lg" [tuiSkeleton]="true"></div>
        </div>

        <!-- Recipient payment -->
        <div class="mb-6">
          <div class="flex items-center">
            <div class="mr-3 h-5 w-5 rounded-sm" [tuiSkeleton]="true"></div>
            <div class="h-5 w-44" [tuiSkeleton]="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
