@let vm = vm$ | async;

@if (vm && form) {
  <div>
    <ng-content select="b"></ng-content>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-5">
    <div class="relative">
      <tui-textfield
        tuiChevron
        [stringify]="stringifyCity"
        [tuiSkeleton]="vm.cities.isLoading"
        tuiDropdownMobile="Город отправления"
      >
        @if (isMobile) {
          <input
            tuiSelect
            [formControl]="city"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
            [placeholder]="'deliveryPoint.placeholders.city' | transloco"
          />
        } @else {
          <input
            tuiComboBox
            [formControl]="city"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
            [placeholder]="'deliveryPoint.placeholders.city' | transloco"
          />
        }

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="vm.cities.items | tuiFilterByInput"
        />
      </tui-textfield>
    </div>

    @if (vm.cities.selected) {
      @if (vm.tabs.length > 1) {
        <div class="mt-1">
          <div class="grid grid-cols-2 gap-3">
            @for (tab of vm.tabs; track tab.id) {
              <button
                type="button"
                tuiButton
                [appearance]="tab === vm.activeTab ? 'primary' : 'outline'"
                (click)="onTabChange(tab.id)"
              >
                <span class="font-medium">{{ tab.name | transloco }}</span>
              </button>
            }
          </div>
        </div>
      }

      <div class="tab-content">
        @switch (vm.activeTab?.id) {
          @case (TabType.OFFICE) {
            <div class="rounded-lg bg-gray-50 p-3">
              <!--                @if (vm.tabs.length < 2) {-->
              <!--                  <div-->
              <!--                    class="flex items-center justify-center py-3 px-4 rounded-md border border-gray-200 bg-white mb-3">-->
              <!--                    <span class="font-medium">Забрать в отделении</span>-->
              <!--                  </div>-->
              <!--                }-->
              <div class="mb-2 flex items-center text-sm text-gray-600">
                <tui-icon
                  icon="@tui.map-pin"
                  class="mr-2"
                  [style.color]="'var(--color-gray-600)'"
                  [style.font-size.rem]="1"
                />
                <span>
                  {{ 'deliveryPoint.labels.office' | transloco }}
                </span>
              </div>
              <tui-textfield
                tuiChevron
                [stringify]="stringifyOffice"
                [tuiSkeleton]="vm.offices.isLoading"
                tuiDropdownMobile="Адрес отделения"
              >
                <input
                  tuiSelect
                  [formControl]="office"
                  [tuiHint]="[] | tuiFieldErrorContent"
                  [placeholder]="'pickupPoint.placeholders.office' | transloco"
                />

                <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="vm.offices.items" />
              </tui-textfield>

              <tui-error [formControl]="office" [error]="[] | tuiFieldError | async" />
            </div>
          }
          @case (TabType.COURIER) {
            <div @tabContent class="rounded-lg bg-gray-50 p-3">
              @defer {
                <app-courier-details [formControl]="courierDetails" />
              } @placeholder (minimum 500ms) {
                <div>
                  <div>
                    <span class="mb-1 inline-block" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div class="mb-2 grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                  </div>
                  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
          @case (TabType.BUS) {
            <div class="rounded-lg bg-gray-50 p-3">
              <label class="flex cursor-pointer items-center">
                <input tuiCheckbox type="checkbox" [formControl]="busPickup" />
                <span class="ml-2 inline-block text-gray-700">
                  {{ 'deliveryPoint.methods.busPickup' | transloco }}
                </span>
              </label>
            </div>
          }
        }
      </div>
    }
  </form>
}
