@let vm = vm$ | async;

<app-page-layout [showBreadcrumbs]="true">
  <div appPageHeaderContent class="mt-10 flex justify-end sm:mt-0">
    <app-balance />
  </div>

  @if (vm) {
    <app-filter
      [filter]="vm.filter"
      (filterChange)="setFilter($event)"
      (filterClear)="clearFilter()"
    />

    <app-order-list
      [list]="vm.list"
      (pageChange)="navigateToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (sortChange)="onSortChange($event)"
      (export)="onExportToExcel()"
      (orderSelect)="showOrderDetails($event)"
      (orderPrint)="showOrderInvoice($event)"
    />
  }
</app-page-layout>
