<div
  class="mt-9 mb-14 flex max-w-[430px] flex-wrap gap-x-4 gap-y-2 self-start rounded-sm bg-yellow-500 pt-4 pr-7 pb-6 pl-5 shadow-xl lg:col-span-4 lg:col-start-4 lg:row-start-1 lg:row-end-4 lg:mt-0 lg:mb-0"
>
  <p class="mb-1 basis-full font-semibold">Единая справочная:</p>
  <a tuiLink iconStart="headphone" [href]="contactInfo.phone | contactLink: 'tel'">{{
    contactInfo.phone
  }}</a>
  <a
    tuiLink
    iconStart="telegram"
    target="_blank"
    [href]="contactInfo.email | contactLink: 'telegram'"
    >{{ contactInfo.telegram }}</a
  >
  <a tuiLink iconStart="email" [href]="contactInfo.email | contactLink: 'email'">{{
    contactInfo.email
  }}</a>
  <a
    tuiLink
    iconStart="whatsapp"
    target="_blank"
    [href]="contactInfo.whatsapp | contactLink: 'whatsapp'"
    >{{ contactInfo.whatsapp }}</a
  >
</div>
