@let vm = vm$ | async;

<div class="grid grid-cols-[1fr_370px] gap-x-10">
  <div>
    @if (vm) {
      <p class="mb-3 text-md">
        Для получения тарифов, выберите город, из которого планируется отправление.
      </p>

      <section class="mb-10 pt-5 pb-5 flex flex-wrap gap-3 border-y border-gray-100">
        @for (city of cities | async; track city.id) {
          <section>
            <label appearance tuiChip size="m">
              {{ city.name }}
              <input
                appearance="outline-grayscale"
                name="radio"
                tuiChip
                type="radio"
                [value]="city"
                [ngModel]="vm.selectedCity"
                (ngModelChange)="onCityChange($event)"
              />
            </label>
          </section>
        } @empty {
          <div
            *tuiRepeatTimes="let i of SKELETON_COUNT"
            class="h-12 w-32"
            [tuiSkeleton]="true"
          ></div>
        }
      </section>

      <div #container>
        <section class="mb-20">
          @if (vm.zones.hasData) {
            @for (zone of vm.zones.data; track zone.site_id) {
              <div class="mb-2.5 rounded-sm bg-yellow-500 p-7">
                <b class="mb-3 block text-xl font-medium">{{ zone.zone }}</b>
                <p class="text-sm">{{ zone.cities }}</p>
              </div>
            }
          } @else {
            <div
              *tuiRepeatTimes="let i of SKELETON_COUNT"
              class="h-32 mb-2.5"
              [tuiSkeleton]="true"
            ></div>
          }
        </section>

        @if (vm.zoneTariffs.hasData) {
          <section class="mb-20">
            <h2 class="mb-10 font-heading text-xl font-bold lg:text-2xl">Документы и грузы</h2>

            <div class="">
              <div class="">
                <table class="w-full border-collapse min-w-[800px]">
                  <tbody>
                    @for (
                      zone of vm.zoneTariffs.parcelsTable.zones;
                      track zone.zone_id;
                      let isFirst = $first
                    ) {
                      <tr>
                        <td colspan="4" class="pr-8">
                          <b class="block p-4 bg-yellow-500 rounded-sm text-center">
                            {{ zone.zone_name }}
                          </b>
                        </td>
                        <td class="border-b-2 border-yellow-500">
                          <table class="w-full">
                            @if (isFirst) {
                              <thead class="border-b-2 border-yellow-500">
                                <tr>
                                  <th class="p-4">Габариты</th>
                                  <th class="p-4">Документы</th>
                                  <th class="p-4">0 - 5 кг</th>
                                  <th class="p-4">5 - 10 кг</th>
                                  <th class="p-4">10 - 20 кг</th>
                                </tr>
                              </thead>
                            }
                            <tbody>
                              @for (
                                row of getZoneRows(vm.zoneTariffs.parcelsTable, zone.zone_id);
                                track row.size;
                                let isEven = $even
                              ) {
                                <tr [class.bg-gray-50]="isEven">
                                  <td class="p-3 text-center w-1/5">
                                    {{ row.size }}
                                  </td>
                                  <td class="p-3 text-center w-1/5">
                                    @if (row.zones[zone.zone_id]?.documents) {
                                      <span class="text-center">
                                        {{ row.zones[zone.zone_id].documents }} ₽
                                      </span>
                                    } @else {
                                      <span class="text-gray-400">—</span>
                                    }
                                  </td>
                                  <td class="p-3 text-center w-1/5">
                                    @if (row.zones[zone.zone_id]?.weight_0_5) {
                                      <span> {{ row.zones[zone.zone_id].weight_0_5 }} ₽ </span>
                                    } @else {
                                      <span class="text-gray-400">—</span>
                                    }
                                  </td>
                                  <td class="p-3 text-center w-1/5">
                                    @if (row.zones[zone.zone_id]?.weight_5_10) {
                                      <span> {{ row.zones[zone.zone_id].weight_5_10 }} ₽ </span>
                                    } @else {
                                      <span class="text-gray-400">—</span>
                                    }
                                  </td>
                                  <td class="p-3 text-center w-1/5">
                                    @if (row.zones[zone.zone_id]?.weight_10_20) {
                                      <span> {{ row.zones[zone.zone_id].weight_10_20 }} ₽ </span>
                                    } @else {
                                      <span class="text-gray-400">—</span>
                                    }
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          @if (vm.zoneTariffs.autopartsTable.rows.length) {
            <section class="mb-20">
              <h2 class="mb-10 font-heading text-xl font-bold lg:text-2xl">Автозапчасти</h2>

              <div class="">
                <div class="">
                  <table class="w-full">
                    <thead>
                      <tr class="">
                        <th></th>

                        @for (zone of vm.zoneTariffs.autopartsTable.zones; track zone.zone_id) {
                          <th
                            class="p-4 bg-yellow-500"
                            [class.rounded-l-sm]="$first"
                            [class.rounded-r-sm]="$last"
                          >
                            {{ zone.zone_name }}
                          </th>
                        }
                      </tr>
                    </thead>

                    <tbody>
                      @for (
                        row of vm.zoneTariffs.autopartsTable.rows;
                        track row.type;
                        let isOdd = $odd
                      ) {
                        <tr [class.bg-gray-100]="isOdd">
                          <td class="p-3 font-bold">
                            {{ row.type }}
                          </td>

                          @for (zone of vm.zoneTariffs.autopartsTable.zones; track zone.zone_id) {
                            <td class="p-3 text-center">
                              @if (row.zones[zone.zone_id]) {
                                <span> {{ row.zones[zone.zone_id] }} ₽ </span>
                              } @else {
                                <span>—</span>
                              }
                            </td>
                          }
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          }

          @if (vm.zoneTariffs.otherTable.rows.length) {
            <section class="">
              <h2 class="mb-10 font-heading text-xl font-bold lg:text-2xl">Другое</h2>

              <div class="">
                <div class="">
                  <table class="w-full">
                    <thead>
                      <tr class="">
                        <th></th>

                        @for (zone of vm.zoneTariffs.otherTable.zones; track zone.zone_id) {
                          <th
                            class="p-4 bg-yellow-500"
                            [class.rounded-l-sm]="$first"
                            [class.rounded-r-sm]="$last"
                          >
                            {{ zone.zone_name }}
                          </th>
                        }
                      </tr>
                    </thead>

                    <tbody>
                      @for (
                        row of vm.zoneTariffs.otherTable.rows;
                        track row.type;
                        let isOdd = $odd
                      ) {
                        <tr [class.bg-gray-100]="isOdd">
                          <td class="p-3 font-bold">
                            {{ row.type }}
                          </td>

                          @for (zone of vm.zoneTariffs.otherTable.zones; track zone.zone_id) {
                            <td class="p-3 text-center">
                              @if (row.zones[zone.zone_id]) {
                                <span> {{ row.zones[zone.zone_id] }} ₽ </span>
                              } @else {
                                <span>—</span>
                              }
                            </td>
                          }
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          }
        } @else {
          <div
            *tuiRepeatTimes="let i of SKELETON_COUNT"
            class="h-12 mb-0.5"
            [tuiSkeleton]="true"
          ></div>
        }
      </div>
    }
  </div>
  <aside>
    <!--    <div class="h-10 bg-gray-200"></div>-->
    @if (vm) {
      <button type="button" tuiButton (click)="handlePrint(vm.selectedCity)">
        Распечатать тарифы
      </button>
    }
  </aside>
</div>
<ng-template #actions let-content="content">
  <div class="flex gap-2">
    <button tuiButton appearance="primary" size="s" (click)="printPdf(content)">
      <tui-icon icon="@tui.printer" class="mr-1"></tui-icon>
      Печать
    </button>
    <button tuiButton appearance="primary" size="s" (click)="downloadPdf(content)">
      <tui-icon icon="@tui.download" class="mr-1"></tui-icon>
      Скачать
    </button>
  </div>
</ng-template>
