<app-sidebar-layout [documentTypes]="['upakovka']">
  <app-steps class="max-w-full" [separated]="true">
    <app-package *appStep title="Коробки картонные" image="package-1" [table]="boxesTable">
      Это надежная упаковка, которая используется для защиты грузов от деформации и загрязнений,
      позволяет компактно упаковать несколько видов грузов вместе.
    </app-package>
    <app-package
      *appStep
      title="Пленка стрейч черная"
      image="package-2"
      [pricing]="[['30 руб.', 'за один метр']]"
    >
      Используется для ценных грузов, чтобы исключить идентификацию грузов по упаковке.
    </app-package>
    <app-package
      *appStep
      title="Пленка стрейч прозрачная"
      image="package-3"
      [pricing]="[['10 руб.', 'за один метр']]"
    >
      Используется для упаковки пакетов, деталей нестандартных форм для защиты от внешних
      повреждений (не хрупких и не подверженных деформации), упаковки коробок и иных видов грузов
      для защиты от влаги и доступа к содержимому.
    </app-package>
    <app-package
      *appStep
      title="Пленка пузырчатая полиэтиленовая"
      image="package-4"
      [pricing]="[['80 руб.', 'за один метр']]"
    >
      Используется для дополнительной защиты от повреждения хрупких грузов.
    </app-package>
    <app-package
      *appStep
      title="Мешок полипропиленовый с пломбой"
      image="package-5"
      [pricing]="[
        ['30 руб.', 'за мешок'],
        ['18 руб.', 'за пломбу'],
      ]"
    >
      Используется для упаковки небольших, ценных и мягких грузов, партий мелких грузов. Помогает
      сохранить груз чистым и препятствует рассыпанию. Пломба служит гарантией защиты груза от
      доступа к содержимому третьими лицами.
    </app-package>
    <app-package *appStep title="Сейф пакет" image="package-6" [table]="safePacksTable">
      Используется для упаковки документов, ценных грузов, мелких грузов (ключей, мелких деталей и
      т.д.). Защитная полоса исключает доступ к содержимому третьими лицами.
    </app-package>
  </app-steps>
  <app-alert class="mt-10 sm:ml-[58px] md:ml-18">
    <b>Важно!</b>
    Упаковка груза должна обеспечивать его сохранность в процессе доставки и исключать возможность
    причинения вреда или повреждения другим грузам.
  </app-alert>
  <app-documents-list
    [documentTypes]="['rules']"
    documentSize="lg"
    class="mt-6 mb-6 hidden sm:flex md:mt-11 lg:mb-0"
  />
</app-sidebar-layout>
