<div class="mb-6">
  @for (parcelItem of parcels.controls; track $index) {
    <div
      class="mb-6 rounded-md border border-gray-200 bg-white p-4 shadow-sm transition-all"
      [@parcelItem]
    >
      <div class="mb-4 flex items-center justify-between border-b border-gray-100 pb-2">
        <h3 class="text-md flex items-center font-medium text-gray-700">
          <tui-icon
            icon="@tui.box"
            class="mr-2"
            [style.color]="'var(--tui-background-accent-1)'"
            [style.font-size.rem]="1.25"
          />
          {{ 'deliveryDetails.parcel.name' | transloco }} {{ $index + 1 }}
        </h3>
        @if (parcels.length > 1) {
          <button type="button" class="cursor-pointer" (click)="removeParcelItem($index)">
            <tui-icon
              icon="@tui.trash"
              class="mr-2"
              [style.color]="'var(--color-red-500)'"
              [style.font-size.rem]="1.25"
            />
          </button>
        }
      </div>

      <app-parcel-item
        [totalQuantityMaxError]="!!errors?.totalQuantityMax"
        [totalWeightMaxError]="!!errors?.totalWeightMax"
        [totalDimensionsMaxError]="!!errors?.totalDimensionsMax"
        [formControl]="parcelItem"
      ></app-parcel-item>
    </div>
  }

  <div class="mb-4">
    <tui-error [formControl]="parcelsError" [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <button
    type="button"
    class="flex w-full cursor-pointer items-center justify-center rounded-md border border-dashed border-yellow-300 p-3 text-yellow-600 transition-colors hover:border-yellow-400 hover:bg-yellow-50"
    [disabled]="!canAddParcelItem"
    (click)="addParcelItem()"
  >
    <tui-icon
      icon="@tui.plus"
      class="mr-2"
      [style.color]="'var(--color-yellow-600)'"
      [style.font-size.rem]="1.5"
    />
    <span class="font-medium">{{ 'deliveryDetails.parcels.actions.add' | transloco }}</span>
  </button>
</div>
