<div class="border border-transparent md:w-[370px] lg:w-[442px]">
  <h3 class="md:4xl mb-4 max-w-md text-3xl font-bold sm:max-w-lg sm:text-3xl lg:text-[42px]">
    Примеры
  </h3>
  <div class="relative flex items-center sm:mb-7 lg:mb-0">
    <app-carousel
      [items]="examples"
      [itemTemplate]="slideTemplate"
      [slidesShadow]="false"
      pagination="top"
      (slideChange)="onCarouselSlideChange($event)"
    >
      @if (currentExample && showExampleInfo) {
        <div class="my-5 transition-all duration-300 ease-in-out" [@slideIn]>
          <b class="text-md mb-2 block">{{ currentExample.title }}</b>
          <a [routerLink]="['/' + pageLink?.link]" [queryParams]="{ id: currentExample.id }">
            <img src="/assets/icons/help.svg" alt="&nbsp" class="mr-2 inline-block" />
            <span class="border-b border-dotted text-sm text-gray-600 hover:border-b-0">
              Как мы решили эту задачу
            </span>
          </a>
        </div>
      }
    </app-carousel>
  </div>
</div>

<ng-template #slideTemplate let-example>
  <div class="relative h-[200px] rounded-md bg-gray-50 object-cover text-gray-50">
    <img
      [ngSrc]="'complex-task-' + example.id + '.jpg'"
      [alt]="example.title"
      ngSrcset="400w, 800w, 1200w, 1600w, 2400w"
      sizes="(min-width: 1024px) 400px, (min-width: 768px) 328px, 100vw"
      fill
      class="rounded-md object-cover"
    />
  </div>
</ng-template>
