<tui-root>
  <app-header />

  <main class="relative">
    <div class="container mx-auto px-4" [class.pb-10]="!isHomePage">
      <app-breadcrumbs />

      @if (!isServicesPage) {
        <h1 class="mt-10 inline-block px-4 font-bold sm:text-2xl md:px-0 md:text-4xl">
          {{ title$ | async }}
        </h1>
      }

      @if (description$ | async; as description) {
        <div class="mt-2 mb-10 max-w-[800px]">
          @if (Array.isArray(description)) {
            @for (paragraph of description; track $index) {
              <p class="text-md text-gray-800">{{ paragraph }}</p>
            }
          } @else {
            <p class="text-md text-gray-800">{{ description }}</p>
          }
        </div>
      }

      <router-outlet />
    </div>
  </main>
  <app-footer></app-footer>
</tui-root>
