<div [formGroup]="form" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
  <div tuiLabel class="relative">
    <div class="mb-1 flex justify-between">
      <span class="flex items-center text-sm text-gray-600">
        {{ 'deliveryDetails.parcel.labels.quantity' | transloco }}
      </span>
      @if (quantityInput.focused()) {
        <app-limit-badge
          [value]="getAvailableQuantity()"
          [hintText]="'hint.messages.available' | transloco"
          size="s"
        />
      }
    </div>

    <tui-textfield #quantityInput class="w-full">
      <input
        tuiInputNumber
        [formControl]="quantity"
        [min]="limits().QUANTITY.MIN"
        [max]="limits().QUANTITY.MAX"
        [tuiHint]="[] | tuiFieldErrorContent"
        [invalid]="quantity.invalid || totalQuantityMaxError"
        (blur)="setMinValueOnBlur(quantity.value, 'quantity')"
        placeholder="0"
        tuiHintAppearance="error"
      />
    </tui-textfield>
  </div>

  <div tuiLabel class="relative">
    <div class="mb-1 flex justify-between">
      <span class="flex items-center text-sm text-gray-600">
        {{ 'deliveryDetails.parcel.labels.weight' | transloco }}
      </span>
      @if (weightInput.focused()) {
        <app-limit-badge
          [value]="getAvailableWeight()"
          [units]="'units.weight' | transloco"
          [hintText]="'hint.messages.available' | transloco"
          size="s"
        />
      }
    </div>

    <tui-textfield #weightInput class="w-full">
      <input
        tuiInputNumber
        tuiHintAppearance="error"
        [formControl]="weight"
        [min]="limits().WEIGHT.MIN"
        [max]="limits().WEIGHT.MAX"
        [tuiHint]="[] | tuiFieldErrorContent"
        [invalid]="weight.invalid || totalWeightMaxError"
        (blur)="setMinValueOnBlur(weight.value, 'weight')"
        [postfix]="' ' + ('units.weight' | transloco)"
      />
    </tui-textfield>
  </div>

  <div class="col-span-full">
    <div class="rounded-md border border-gray-100 bg-gray-50 p-3">
      <div class="mb-3 flex justify-between">
        <span class="flex items-center text-sm text-gray-600">
          <tui-icon
            icon="@tui.proportions"
            class="mr-2"
            [style.color]="'var(--tui-background-accent-1)'"
            [style.font-size.rem]="1"
          />
          {{ 'deliveryDetails.parcel.labels.dimensions' | transloco }}
        </span>
        @if (widthInput.focused() || heightInput.focused() || lengthInput.focused()) {
          <small [tuiHint]="'hint.messages.available' | transloco">
            <b>
              <span class="text-red-500">{{ getAvailableDimension() }} см</span>
              / {{ limits().DIMENSIONS.MAX }} cм
            </b>
          </small>
          <!--          <app-limit-badge-->
          <!--            [value]="getAvailableDimension()"-->
          <!--            [units]="'units.width' | transloco"-->
          <!--            [hintText]="'hint.messages.available' | transloco"-->
          <!--            size="s"-->
          <!--          />-->
        }
      </div>

      <div formGroupName="dimensions" class="grid grid-cols-3 gap-2">
        <div tuiLabel>
          <span class="mb-1 inline-block text-xs text-gray-500">
            {{ 'deliveryDetails.parcel.labels.width' | transloco }}
          </span>
          <tui-textfield #widthInput class="w-full">
            <input
              tuiInputNumber
              tuiHintAppearance="error"
              [formControl]="width"
              [min]="limits().DIMENSIONS.MIN"
              [max]="getMaxDimension(width)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(width.value, 'width')"
              [postfix]="' ' + ('units.width' | transloco)"
            />
          </tui-textfield>
        </div>

        <div tuiLabel>
          <span class="mb-1 inline-block text-xs text-gray-500">
            {{ 'deliveryDetails.parcel.labels.height' | transloco }}
          </span>
          <tui-textfield #heightInput class="w-full">
            <input
              tuiInputNumber
              tuiHintAppearance="error"
              [formControl]="height"
              [min]="limits().DIMENSIONS.MIN"
              [max]="getMaxDimension(height)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(height.value, 'height')"
              [postfix]="' ' + ('units.height' | transloco)"
            />
          </tui-textfield>
        </div>

        <div tuiLabel>
          <span class="mb-1 inline-block text-xs text-gray-500">
            {{ 'deliveryDetails.parcel.labels.length' | transloco }}
          </span>
          <tui-textfield #lengthInput class="w-full">
            <input
              tuiInputNumber
              tuiHintAppearance="error"
              [formControl]="length"
              [min]="limits().DIMENSIONS.MIN"
              [max]="getMaxDimension(length)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(length.value, 'length')"
              [postfix]="' ' + ('units.height' | transloco)"
            />
          </tui-textfield>
        </div>
      </div>
    </div>
    <tui-error [formControl]="dimensionsError" [error]="[] | tuiFieldError | async" />
  </div>
</div>
