@let isSubmitting = isSubmitting$ | async;

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div [class]="layoutClass">
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-800">Имя</span>
      <tui-textfield>
        <input
          tuiTextfield
          [formControl]="userName"
          [tuiHint]="[] | tuiFieldErrorContent"
          [minlength]="limits.user.fullName.minLength"
          [maxlength]="limits.user.fullName.maxLength"
          [attr.maxlength]="limits.user.lastName.maxLength"
          [placeholder]="'user.placeholders.lastName' | transloco"
          tuiHintAppearance="error"
        />
      </tui-textfield>
    </label>
    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-800">
        {{ 'contacts.labels.phone' | transloco }}
      </span>

      <tui-input-phone
        [formControl]="phone"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
      >
        {{ 'contacts.placeholders.phone' | transloco }}
      </tui-input-phone>
    </div>
    <label tuiLabel [class]="emailFieldClass">
      <span class="mb-1 block text-sm text-gray-800">
        {{ 'contacts.labels.email' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="email"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'contacts.placeholders.email' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>
    <div tuiLabel [class]="commentFieldClass">
      <span class="text-sm text-gray-800">
        {{ isCustomTasks ? 'Комментарий к заявке' : 'Ваш вопрос' }}
      </span>
      <tui-textarea [formControl]="message"></tui-textarea>
    </div>
    <label [class]="processingFieldClass">
      <input tuiCheckbox type="checkbox" [formControl]="processingAccepted" />
      <span class="text-sm text-gray-800">
        Нажимая кнопку «Оформить заказ», я даю свое согласие на обработку моих персональных данных
      </span>
    </label>

    <button
      type="submit"
      tuiButton
      appearance="accent"
      [disabled]="this.form.invalid || isSubmitting"
      [loading]="isSubmitting"
      class="mt-4"
    >
      Отправить
    </button>
  </div>
</form>
