@for (feature of getFeatures(); track feature.icon) {
  <div class="flex max-w-sm md:max-w-full">
    <img
      [src]="'/assets/icons/' + feature.icon + '.svg'"
      [alt]="feature.icon"
      [class.scale-150]="feature.icon === 'from-airport'"
      width="50"
      class="mr-8 block self-start"
    />
    <div>
      <b
        [class]="
          cn('mb-2.5 block cursor-not-allowed text-[22px]/8', {
            'cursor-pointer underline-offset-8 hover:underline': feature.link,
          })
        "
        [routerLink]="['/' + feature.link?.link || '']"
      >
        {{ feature.name }}
      </b>
      <p class="text-base text-black/80" [innerHTML]="feature.description"></p>
    </div>
  </div>
}
