<div class="max-w-[600px]">
  <p class="mb-3">
    Мы обязательно информируем получателя о прибытии груза по смс и звонком по указанным
    отправителем в накладной контактным данным. При оформлении груза вы можете воспользоваться
    услугой «смс оповещение отправителя» и «расширенное смс».
  </p>
  <p class="mb-3">
    Также вы всегда можете узнать информацию о нахождении своего груза самостоятельно по телефону
    единой справочной
    <a [href]="contact.phone | contactLink: 'tel'" class="link-blue-500">{{ contact.phone }}</a>
    или в филиале получения груза.
    <a [routerLink]="contactsLink" class="link-blue-500">Контакты всех филиалов</a>
  </p>
  <p class="mb-3">
    Бесплатное хранение отправлений в пунктах выдачи в течение суток. Свыше этого времени хранение
    платное – 100 рублей за каждые последующие сутки.
  </p>
  <p class="mb-3">
    Хранение невостребованных отправлений осуществляется в течение месяца. После чего подлежат
    изъятию и утилизации.
    <a [routerLink]="rulesLink" class="link-blue-500">Смотреть правила приемки и отправки груза</a>
  </p>
  <p>Старайтесь забирать свои грузы вовремя!</p>
</div>
