<app-page-layout>
  <h2 class="mb-5 text-xl font-bold md:mb-8 md:text-2xl">Реальные примеры:</h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    @for (caseItem of cases; track caseItem.id) {
      <app-case-card [case]="caseItem" />
    }
  </div>

  <section
    class="full-width-section mt-16 md:border-t md:border-gray-200 md:pt-16 lg:mt-22 lg:pt-22"
  >
    <div class="container mx-auto px-4">
      <h2 class="font-heading mb-1 text-2xl font-bold lg:text-3xl">
        Нужна консультация специалиста?
      </h2>
      <p class="mb-11 text-sm">Опишите вашу задачу, и мы свяжемся с вами в ближайшее время.</p>
      <div class="max-w-[820px]">
        <app-contact-form />
      </div>
    </div>
  </section>
</app-page-layout>
