<div class="relative h-48 w-full rounded-sm bg-gray-50 text-left">
  <img
    [ngSrc]="'service-' + service.id + '.jpg'"
    [alt]="service.id"
    ngSrcset="370w, 640w, 1280w, 1920w"
    sizes="(min-width: 768px) 345px, (min-width: 640px) 270px, 100vw"
    fill
    class="rounded-t-sm object-cover"
  />
</div>
<div class="px-4 py-6">
  <h3 class="mb-3 line-clamp-2 text-lg font-semibold text-gray-900">
    {{ service.title }}
  </h3>
  <p class="mb-4 line-clamp-3 text-[15px] leading-relaxed font-light text-gray-600">
    {{ service.description }}
  </p>

  <span [class]="linkClass">
    <span>Подробнее</span>
    <tui-icon
      icon="@tui.chevron-right"
      [style.font-size.rem]="0.8"
      class="ml-2 h-4 w-4 transform transition-transform group-hover:translate-x-1"
    />
  </span>
</div>
