<app-page-layout>
  <app-company-overview class="animate-fade-in" />

  <section
    class="full-width-section animate-slide-in-up bg-gray-50/40 py-12 md:mt-16 lg:mt-20 lg:py-16"
  >
    <div class="container mx-auto px-4">
      <div class="mb-12 text-center">
        <h2 class="mb-4 text-3xl font-bold text-gray-900 lg:text-4xl">
          Наши
          <span class="text-yellow-500">преимущества</span>
        </h2>
        <p class="mx-auto max-w-2xl text-lg text-gray-600">
          Что делает нас лидерами в сфере срочной доставки грузов
        </p>
      </div>
      <app-company-features />
    </div>
  </section>
  <section class="full-width-section animate-fade-in py-12 lg:pt-16">
    <div class="container mx-auto px-4">
      <h2 class="font-heading mb-16 text-center text-3xl font-bold lg:mb-10 lg:text-4xl">
        Наши
        <span class="text-yellow-500">ценности</span>
      </h2>
      <app-company-values />
    </div>
  </section>
  <section
    class="full-width-section bg-gradient-to-br from-yellow-500 to-yellow-400 pt-12 pb-8 sm:py-16 xl:pt-20 xl:pb-20"
  >
    <div class="container mx-auto px-4">
      <h2 class="font-heading mb-12 text-center text-3xl font-bold lg:mb-10 lg:text-4xl">
        Наши социальные проекты
      </h2>
      <app-social-projects />
    </div>
  </section>
  <section class="full-width-section animate-slide-in-up bg-gray-50/70 pt-16 sm:pb-6 lg:pb-16">
    <div class="container mx-auto px-4">
      <app-team></app-team>
    </div>
  </section>
  <section class="full-width-section relative top-10 -mt-10 bg-gray-50/70 py-16 text-center">
    <div class="container mx-auto px-4">
      <div class="mb-12 text-center">
        <h2 class="mb-4 text-3xl font-bold text-gray-900 lg:text-4xl">
          О нас в
          <span class="text-yellow-500">цифрах</span>
        </h2>
        <p class="mx-auto max-w-2xl text-lg text-gray-600">
          Результаты нашей работы за все время существования компании
        </p>
      </div>
      <app-company-stats />
    </div>
  </section>
</app-page-layout>
