<div class="flex flex-col">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="items-bottom mb-8 grid grid-cols-1 items-end gap-4 sm:grid-cols-2 md:mb-9 lg:mb-20 lg:grid-cols-4 lg:pt-4 lg:pr-7 lg:pb-9 lg:pl-10 lg:shadow-xl print:hidden"
  >
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">Период</span>
      <tui-textfield tuiDropdownMobile="Выберите период">
        <input formControlName="range" tuiInputDateRange placeholder="дд.мм.гггг - дд.мм.гггг" />
        <tui-calendar-range *tuiTextfieldDropdown />
      </tui-textfield>
    </label>

    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">Город отправления</span>
      <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Город отправления">
        @if (isMobile) {
          <input
            tuiSelect
            [formControl]="pickupCity"
            tuiHintAppearance="error"
            [placeholder]="'Выберите город'"
          />
        } @else {
          <input
            tuiComboBox
            [formControl]="pickupCity"
            tuiHintAppearance="error"
            [placeholder]="'Выберите город'"
          />
        }

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="pickupCities$ | async | tuiFilterByInput"
        />
      </tui-textfield>
    </div>
    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">Город получения</span>
      <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Город получения">
        @if (isMobile) {
          <input
            tuiSelect
            [formControl]="deliveryCity"
            tuiHintAppearance="error"
            [placeholder]="'Выберите город'"
          />
        } @else {
          <input
            tuiComboBox
            [formControl]="deliveryCity"
            tuiHintAppearance="error"
            [placeholder]="'Выберите город'"
          />
        }

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="deliveryCities$ | async | tuiFilterByInput"
        />
      </tui-textfield>
    </div>
    <div class="flex h-12 gap-4">
      <button
        tuiButton
        type="submit"
        appearance="primary"
        [disabled]="filter.isListLoading"
        [loading]="filter.isListLoading"
        class="mt-2 grow sm:mt-0"
      >
        Показать
      </button>
      @if (filter.isActive) {
        <button
          tuiIconButton
          type="button"
          appearance="outline-destructive"
          iconStart="@tui.funnel-x"
          (click)="onClearFilter()"
        >
          &nbsp;
        </button>
      }
    </div>
  </form>
</div>
