<app-news />

<app-page-layout class="pb-0!">
  <section class="relative flex flex-col md:mt-6 md:flex-row md:gap-x-8 lg:mt-10">
    <div class="md:text-left">
      <h1
        class="font-heading mt-6 mb-6 max-w-md text-4xl leading-11 font-bold md:mt-0 md:max-w-full lg:text-[57px] lg:leading-16"
      >
        Срочная доставка
        <br />
        по Приморскому краю
        <br class="hidden sm:block" />
        и в Хабаровск
      </h1>
      <p class="mb-8 text-lg leading-9 sm:text-xl md:mb-10 xl:text-[26px]">
        <b class="inline-block rounded-sm bg-yellow-500 px-2 py-1 font-bold xl:text-[27px]">
          от 2 до 24 часов
        </b>
        рейсовыми автобусами
        <br class="hidden sm:block md:hidden lg:block" />
        и собственным автотранспортом
      </p>

      <app-cargo-types class="mb-18 inline-flex md:mb-0 xl:mb-28" />
    </div>
    <app-route-selector />
  </section>

  <div
    class="relative -z-10 mt-16 w-full lg:mb-5 xl:-left-[70px] xl:-mt-36 xl:mb-24 xl:w-[calc(100%+175px)]"
  >
    <img
      src="/assets/images/home-banner.jpg"
      alt=""
      class="max-w-[250px] sm:max-w-[400px] lg:max-w-[600px] xl:max-w-full"
    />
  </div>

  <app-page-section
    [class]="
      cn(
        'relative',
        'xl:mb-32 xl:before:absolute xl:before:top-[-290px] xl:before:left-[-215px] xl:before:z-[-1]',
        'xl:before:h-[3472px] xl:before:w-[1560px] xl:before:bg-no-repeat',
        'xl:before:bg-[url(./assets/images/home-curve.svg)]'
      )
    "
  >
    <ng-container class="title">Охватываем всю территорию Приморского края</ng-container>
    <ng-container class="subtitle">
      И даже самые труднодоступные населенные пункты региона
    </ng-container>
    <app-stats-summary />
  </app-page-section>

  <app-page-section>
    <ng-container class="title">
      Предлагаем удобный сервис
      <br class="hidden sm:block" />
      для вашего комфорта
    </ng-container>
    <app-service-features class="mt-10" />
  </app-page-section>

  <section
    class="full-width-section relative z-10 mb-28 bg-gradient-to-br from-yellow-500 to-yellow-400"
  >
    <div class="container mx-auto px-4">
      <app-stats />
    </div>
  </section>

  <app-page-section>
    <ng-container class="title">Помогаем бизнесу</ng-container>
    <ng-container class="subtitle">
      Вы - логистическая или транспортная компания?
      <br class="hidden md:block" />
      У вас интернет-магазин, и вы хотите укрепить позиции в Приморском крае?
      <br class="hidden md:block" />
      Свяжитесь с нами по номеру
      <a [href]="contacts.mobileSecondary | contactLink: 'tel'" class="link-black">
        {{ contacts.mobileSecondary }}
      </a>
      или заполните форму обратной связи,
      <br class="hidden md:block" />
      и мы свяжемся с вами.
    </ng-container>

    <div class="flex flex-col gap-20 lg:flex-row lg:items-start lg:gap-10 xl:gap-16">
      <app-contact-form
        formType="custom-tasks"
        class="max-w-full shrink-0 lg:max-w-[480px] xl:max-w-[670px]"
      />
      <app-page-section class="mb-10!">
        <ng-container class="title">Наши партнеры</ng-container>
        <ng-container class="subtitle">
          С нами работает более 500 компаний, которые регулярно отправляют грузы
          <br class="hidden md:block lg:hidden" />
          по Приморскому краю и в Хабаровск.
        </ng-container>

        <div class="flex w-full flex-wrap gap-4">
          @for (brand of brands; track brand.name) {
            <app-brand-card [brand]="brand" class="flex-grow" />
          }
        </div>
      </app-page-section>
    </div>
  </app-page-section>
</app-page-layout>
