<app-page-layout class="pb-0!">
  <section class="bg-white">
    <div class="">
      <div class="mb-16 lg:mb-32">
        <div class="rounded-xl bg-gray-100 p-10">
          <div class="mb-2">
            <span class="text-sm font-medium tracking-wide text-yellow-500 uppercase">
              Основная услуга
            </span>
          </div>
          <h2 class="mb-4 text-4xl font-bold md:text-5xl">
            Грузоперевозки
            <br />
            <span>по Приморью</span>
          </h2>
          <p class="mb-8 max-w-2xl text-lg leading-relaxed font-light text-gray-600">
            Мы осуществляем доставку из офисов Баскурьер по Приморскому краю и в Хабаровск.
          </p>
        </div>
      </div>

      <div class="mb-20 text-center">
        <h2 class="mb-4 text-4xl font-semibold text-gray-900">Дополнительные услуги</h2>
        <p class="mb-16 text-lg">Заботимся о вашем грузе — от упаковки до вручения.</p>
        <section class="grid grid-cols-4 gap-6">
          @for (service of services; track service.id) {
            <app-service-card [service]="service" />
          }
        </section>

        <!--        <ng-template #slideTemplate let-service>-->
        <!--          <app-service-card [service]="service" />-->
        <!--        </ng-template>-->
      </div>
    </div>
  </section>
</app-page-layout>
