<app-sidebar-layout [documentTypes]="['rules']">
  <div class="steps space-y-0">
    <app-steps>
      @for (step of steps; track step.id) {
        <app-step-card [step]="step" *appStep>
          @switch (step.id) {
            @case (1) {
              <ol>
                <li data-count="1.1">
                  Настоящий регламент регулирует отношения между «Пользователем услуги»
                  приёмки/отправки грузов и документов («Отправитель», «Получатель», «Заказчик») и
                  «Курьерской службы», а также устанавливает права и обязанности сторон.
                </li>
                <li data-count="1.2">
                  Курьерская служба оказывает услуги на договорной основе. Осуществлять перевозки
                  через Курьерскую службу можно без оформления договора, подписанного обеими
                  сторонами.
                </li>
                <li data-count="1.3">
                  Воспользовавшись услугами Курьерской службы, Отправитель и Получатель от своего
                  имени выражает своё полное согласие с условиями настоящего Регламента. Условия
                  настоящего Регламента действуют с момента приёма Курьерской службой отправления и
                  до полного исполнения сторонами своих обязательств.
                </li>
                <li data-count="1.4">
                  Курьерская служба берёт на себя обязательства выполнить или организовать
                  выполнение услуг, связанных с доставкой отправлений, согласно условиям настоящего
                  Регламента, а также согласно принятых Курьерской службой тарифов. Подписание
                  Накладной или сдача отправления по Накладной, созданной в личном кабинете,
                  означает заключение Договора возмездного оказания курьерских услуг между
                  Пользователем услуги и Курьерской службой.
                </li>
                <li data-count="1.5">
                  Условием сохранности считается доставка отправления Получателю без нарушения
                  внешней упаковки.
                </li>
                <li data-count="1.6" class="font-semibold">
                  Курьерская служба отвечает перед Пользователем услуги в следующих размерах:
                </li>
                <li data-count="1.6.1">
                  за утрату или недостачу отправления, принятого Курьерской службой для перевозки
                  без объявления ценности, в размере действительной (документально подтверждённой)
                  стоимости отправления или недостающей его части, но не более 2 500,00 рублей; в
                  случае, если вложением в отправление являются документы, без указания объявленной
                  стоимости, компенсация составляет 500,00 рублей.
                </li>
                <li data-count="1.6.2">
                  за утрату или недостачу отправления, принятого Курьерской службой для перевозки с
                  объявлением ценности, в размере объявленной ценности или части объявленной
                  ценности, пропорциональной недостающей части отправления.
                </li>
                <li data-count="1.6.3">
                  за повреждение (порчу) отправления, принятого Курьерской службой для перевозки с
                  объявлением ценности, в размере суммы, на которую понизилась объявленная ценность,
                  а при невозможности восстановления повреждённого отправления в размере объявленной
                  ценности.
                </li>
                <li data-count="1.6.4">
                  за повреждение (порчу) отправления, принятого Курьерской службой для перевозки без
                  объявления ценности, в размере суммы, на которую понизилась действительная
                  (документально подтверждённая) стоимость отправления, а при невозможности
                  восстановления повреждённого отправления в размере действительной (документально
                  подтверждённой) стоимости отправления, но не более 2 500,00 рублей; в случае, если
                  вложением в отправление являются документы, без указания объявленной стоимости,
                  компенсация составляет 500,00 рублей.
                </li>
                <li data-count="1.7">
                  Курьерская служба не возмещает упущенную выгоду, любые иные косвенные убытки.
                </li>
                <li data-count="1.8">Потеря отправления не является страховым случаем.</li>
                <li data-count="1.9">
                  Ценность отправления объявляется при оформлении заказа. Объявленная ценность
                  должна соответствовать действительной документально подтверждённой стоимости
                  отправления. Курьерская служба вправе не проверять достоверность объявленной
                  ценности груза. Курьерская служба также вправе использовать любые законные способы
                  определения реальной стоимости груза, в том числе в случаях направления в ее адрес
                  претензии о возмещении реального ущерба при повреждении или утрате отправления.
                </li>
                <li data-count="1.10">
                  Курьерская служба несёт ответственность (в виде возмещения реального ущерба) за
                  утрату, недостачу или повреждение (порчу) отправления с момента его приёмки до
                  выдачи отправления Получателю, указанному в Накладной, если не докажет, что
                  утрата, недостача или повреждение (порча) отправления произошла вследствие
                  обстоятельств, которые Курьерская служба не смогла предотвратить и устранение
                  которых от неё не зависело.
                </li>
                <li data-count="1.11">
                  В случае явного несоответствия характера упаковки свойствам вложенного отправления
                  либо обнаруженного нарушения внешней упаковки, сотрудник Курьерской службы
                  предупреждает Отправителя о выявленном несоответствии или нарушении и вносит
                  отметку в Накладной «Клиент предупрежден о несоответствии упаковки». В данном
                  случае Отправитель несёт риски повреждения, гибели и утраты отправления.
                </li>
                <li data-count="1.12">
                  Условия настоящего Регламента могут быть изменены Курьерской службой в
                  одностороннем безакцептном порядке. Курьерская служба размещает в свободном
                  доступе изменённый Регламент за десять дней до вступления изменений в силу.
                  Пользователь услуги подтверждает, что нахождение Регламента в свободном доступе на
                  объекте Курьерской службы и в сети интернет на официальном сайте достаточно, чтобы
                  считать, что они исходят от Курьерской службы. Пользователь услуги обязуется
                  самостоятельно отслеживать изменения в настоящем Регламенте. Недействительность
                  или невозможность исполнения какого-либо положения настоящего Регламента никак не
                  влияет на действительность иных положений настоящего Регламента.
                </li>
                <li data-count="1.13">
                  Курьерская служба и Пользователь услуги подтверждают, что условия настоящего
                  Регламента не ущемляют законных прав Пользователей услугами применительно к
                  каким-либо конкретным услугам, оказываемым оператором (в том числе в отношении
                  которых была произведена дополнительная оплата).
                </li>
              </ol>
            }
            @case (2) {
              @defer (on viewport; prefetch on idle) {
                <ol>
                  <li data-count="2.1">
                    На территории Российской Федерации запрещается перевозить следующие предметы и
                    вещества (список не исчерпывающий):
                    <ul class="mt-3 ml-3 list-disc">
                      <li>
                        Оружие всех видов (огнестрельное, сигнальное, пневматическое, газовое
                        оружие, боеприпасы, холодное оружие (включая метательное), электрошоковые
                        устройства и искровые разрядники, а также основные части огнестрельного
                        оружия).
                      </li>
                      <li>
                        Взрывчатые вещества, средства взрывания и предметы, ими начинённые; Сжатые и
                        сжиженные газы; Легковоспламеняющиеся жидкости (газовые баллончики с
                        наполнением нервнопаралитического и слезоточивого воздействия и т.д.,
                        ацетон, бензин, метанол, эфиры и т.д.); Воспламеняющиеся твёрдые вещества
                        (вещества, подверженные самопроизвольному возгоранию; Вещества, выделяющие
                        легковоспламеняющиеся газы при взаимодействии с водой: калий, натрий,
                        кальций металлический и их сплавы, кальций фосфористый и т.д.; Фосфор белый,
                        жёлтый и красный, и все другие вещества, относящиеся к категории
                        воспламеняющихся твёрдых веществ).
                      </li>
                      <li>Токсичные вещества; Радиоактивные материалы.</li>
                      <li>
                        Едкие и коррозирующие вещества (сильные неорганические кислоты: соляная,
                        серная, азотная и другие; флористо-водородная (плавиковая) кислота и другие
                        сильные кислоты, и коррозирующие вещества); Окисляющие вещества и
                        органические перекиси.
                      </li>
                      <li>
                        Наркотические средства, психотропные, сильнодействующие, радиоактивные,
                        взрывчатые, ядовитые, едкие, легковоспламеняющиеся и другие опасные
                        вещества.
                      </li>
                      <li>
                        Ядовитые и отравляющие вещества, любые ядовитые сильнодействующие и
                        отравляющие вещества в жидком или твёрдом состоянии, упакованные в любую
                        тару (бруцин, никотин, стрихнин, тетрагидрофурфуриловый спирт,
                      </li>
                      <li>
                        антифриз, тормозная жидкость, этиленгликоль, ртуть, все соли синильной
                        кислоты и цианистые препараты, циклон, цианплав, мышьяковистый ангидрид и
                        т.д.).
                      </li>
                      <li>Животные и птицы; Ядовитые растения.</li>
                      <li>
                        Денежные знаки Российской Федерации и иностранная валюта, ценные бумаги на
                        предъявителя.
                      </li>
                      <li>Антиквариат, предметы старины, коллекционные предметы.</li>
                      <li>Алкоголь и спиртосодержащие напитки.</li>
                      <li>Материалы порнографического характера.</li>
                      <li>Драгоценные металлы.</li>
                      <li>Человеческие останки.</li>
                      <li>
                        Скоропортящиеся продукты питания, хрупкие грузы, а также грузы, подверженные
                        внешнему повреждению, без специальной упаковки.
                      </li>
                      <li>
                        Другие предметы и вещества, которые по своему характеру и/или упаковке могут
                        представлять опасность для сотрудников Курьерской службы и третьих лиц,
                        загрязнять или портить (повреждать) другие отправления (грузы) и
                        оборудование, а также создающие угрозу безопасности движения.
                      </li>
                    </ul>
                  </li>
                </ol>
              } @placeholder {
                <p>.....</p>
              }
            }
            @case (3) {
              @defer (on viewport) {
                <ol>
                  <li data-count="3.1">
                    Отправка грузов и документов осуществляется исключительно по предъявлении
                    документа, удостоверяющего личность. Отправления от физических лиц принимаются к
                    отправке при достижении Отправителем 16 (шестнадцати) лет.
                  </li>
                  <li data-count="3.2">
                    Отправления принимаются Курьерской службой только в открытом виде, кроме случаев
                    отправки отправлений, оформленных Отправителем в личном кабинете на сайте.
                    Курьерская служба имеет право досмотреть все вложения в отправлении. Отправитель
                    самостоятельно запечатывает отправление. Отправления принимаются Курьерской
                    службой по количеству мест, без проверки и пересчёта вложений.

                    <p class="text-md mt-3 text-gray-600 italic">
                      В случае отказа Отправителя от предъявления Курьерской службе вложения для
                      досмотра, Курьерская служба имеет право отказать в оказании услуги доставки
                      данного отправления.
                    </p>

                    <p>
                      Если Отправитель самостоятельно оформляет заказ в личном кабинете на сайте и в
                      последующем оставляет отправление в специально выделенной зоне для
                      самооформленных отправлений, отправление должно быть упаковано, запечатано и
                      на него должен быть наклеен один экземпляр Накладной. Упаковка отправления не
                      должна иметь следов повреждения, должна соответствовать требованиям,
                      установленным настоящим Регламентом. Курьерская служба проверяет отправление
                      только на наличие внешних повреждений упаковки. Срок проверки Курьерской
                      службой – не позднее следующего рабочего дня после даты приёмки. Отправления в
                      повреждённой упаковке не принимаются к отправке и возвращаются Отправителю.
                      Ответственность за содержимое отправлений, надлежащую упаковку и необходимую
                      документацию несёт Отправитель. При отсутствии внешних повреждений упаковки
                      претензии о недостаче или повреждении отправления не принимаются
                    </p>
                    <p>
                      Статус заказа, оформленного Отправителем самостоятельно в личном кабинете на
                      сайте, меняется после приёмки Курьерской службой отправления (проверки
                      соответствия информации об отправлении, указанной в Накладной,
                      действительности, а также осмотра упаковки на наличие повреждений). Если в
                      офисе есть электронная стойка «предварительного оформления» и Отправитель
                      воспользовался данной стойкой для регистрации, то статус такого заказа
                      меняется с момента регистрации, проверка отправления Курьерской службой
                      происходит после регистрации.
                    </p>
                  </li>
                  <li data-count="3.3">
                    Отправление принимается от Отправителя по родовому наименованию и без проверки
                    содержимого упаковки на предмет работоспособности, соответствия наименования,
                    внутренней комплектации, количества и качества вложений, наличия явных или
                    скрытых дефектов, чувствительности к температурному воздействию.
                  </li>
                  <li data-count="3.4">
                    Ответственность за содержимое отправлений и документов несёт Отправитель.
                    Пользователь услуги соглашается с тем, что отправление может быть вскрыто, и
                    содержимое отправления досмотрено Курьерской службой или уполномоченным законом
                    лицом в любой момент времени доставки отправления без предварительного
                    уведомления Пользователя услуги
                  </li>
                  <li data-count="3.5">
                    Ответственность за надлежащую упаковку и маркировку мест отправлений, а также за
                    описание и классификацию содержимого каждого места, чтобы они были пригодны для
                    транспортировки и соответствовали требованиям действующего законодательства,
                    несёт Отправитель.
                  </li>
                  <li data-count="3.6">
                    Упаковка отправлений должна соответствовать характеру вложения, условиям
                    перевозки, исключать возможность повреждения вложения при обработке и перевозке,
                    доступа к нему без нарушения оболочки, порчи других отправлений и причинения
                    какого-либо вреда имущества и работникам Курьерской службы, а также третьих лиц.

                    <p>Отправления в упаковке не должны содержать пустого пространства внутри.</p>
                    <p>
                      Отправления неправильной формы (круглые, овальные, с неустойчивой
                      поверхностью, с острыми и выпирающими частями и т.д.) должны быть тщательно
                      упакованы и закреплены внутри упаковки для исключения смещений и повреждений
                      других отправлений.
                    </p>
                    <p>
                      Упаковка отправлений должна быть без признаков повторного применения:
                      проколов, вмятин, потёртостей, без масляных и грязных следов, не допускается
                      наличие сторонней информации, не относящейся к этому отправлению: маркировка,
                      логотипы, надписи, штрих коды и т.д.
                    </p>
                    <p>
                      Отправления внутри транспортной упаковки, состоящие из нескольких вложений или
                      вложения, состоящие из нескольких частей, обязательно упаковываются
                      материалами для амортизации по отдельности, помещаются в транспортную упаковку
                      и прокладываются материалами для разделения и для уплотнения.
                    </p>
                    <p>
                      Хрупкие вложения должны быть дополнительно упакованы амортизирующими
                      материалами и на упаковке должны быть предупреждающие стикеры.
                    </p>
                    <p>
                      Упаковка отправления, требующего определённого положения при транспортировке и
                      хранению, должна иметь предупреждающий стикер.
                    </p>
                    <p>
                      Жидкие и сыпучие вложения должны иметь дополнительную упаковку, обеспечивающую
                      герметичность, а также сопроводительную документацию.
                    </p>
                    <p>
                      В случае если сохранность отправления при его транспортировке не была
                      обеспечена упаковкой, то при страховании данного отправления (груза), такой
                      случай страховым не будет являться.
                    </p>
                  </li>
                  <li data-count="3.7">
                    Отправитель согласен с тем, что Курьерская служба не принимает каких-либо
                    дополнительных мер при хранении на складах и доставке отправлений, требующих
                    специального хранения и транспортировки (в том числе скоропортящихся и
                    термочувствительных), и не несёт ответственности за их содержимое.
                  </li>
                  <li data-count="3.8">
                    Курьерская служба вправе принять отправление в повреждённой или непригодной для
                    транспортировки упаковке, в данном случае Отправитель несёт риски повреждения,
                    гибели и утраты отправления.
                  </li>
                  <li data-count="3.9">
                    При отправке указываются контактные данные Отправителя и Получателя. Отправитель
                    гарантирует, что все сведения, предоставленные им, являются полными, точными и
                    достоверными. Курьерская служба не несёт ответственности за недостоверное
                    указание Отправителем реквизитов получателя, мобильного телефона, пункта
                    назначения (адреса), веса и характера груза, а также за все вытекающие из этого
                    случаи задержки в перевозке отправлений, за невыполнение нормативных сроков
                    перевозки, сохранность и прочие вытекающие отсюда последствия. Если сведения,
                    предоставленные Отправителем, являются неполными или неточными, то повторная
                    отправка отправлений может быть осуществлена только при условии компенсации
                    отправителем расходов на текущую отправку в соответствии с тарифами Курьерской
                    службы.
                  </li>
                  <li data-count="3.10">
                    Контактные данные обязательные при отправке:
                    <ul class="mt-3 ml-3 list-disc">
                      <li>
                        Для юридического лица – полное или сокращённое наименование (при наличии) и
                        Фамилия, Имя, Отчество (при наличии) контактного лица.
                      </li>
                      <li>Для физического лица – Фамилия, Имя, Отчество (при наличии).</li>
                      <li>
                        Название населённого пункта, в который осуществляется отправка отправления.
                      </li>
                      <li>Номера мобильных телефонов Отправителя и Получателя.</li>
                    </ul>
                  </li>
                </ol>
              } @placeholder {
                <p>.....</p>
              }

              @defer (on viewport) {
                <tui-expand [expanded]="isVisible">
                  <ol>
                    <li data-count="3.11">
                      Плата за оказание услуги при отправке отправлений взимается Курьерской службой
                      с Отправителя при приёме отправлений в соответствии с тарифами Курьерской
                      службы, действующими на дату приёма.

                      <p>
                        Стоимость услуг доставки, указанная на официальном сайте Курьерской службы,
                        в том числе в разделах «Рассчитать стоимость доставки», а также в личном
                        кабинете, является примерной, носит информационный/справочный характер 4
                        Регламент оказания услуг Баскурьер и не имеет силы оферты. Итоговая
                        стоимость услуг, подлежащая оплате Отправителем, определяется применительно
                        к каждому конкретному отправлению, исходя из точного значения физического
                        или объёмного веса отправления в момент передачи соответствующего
                        отправления Курьерской службе на доставку.
                      </p>
                      <p>
                        Курьерская служба имеет право повторно взвесить и перемерить отправления на
                        специальном оборудовании в своём офисе с целью подтверждения правильности
                        расчёта стоимости доставки, основанного на данных о весе и/или габаритах
                        отправления, указанных Отправителем при оформлении заявки и/или Накладной, в
                        том числе при самостоятельном оформлении заказа через личный кабинет на
                        сайте.
                      </p>
                      <p>
                        Если после повторного взвешивания и измерения отправления Курьерской службой
                        габариты и/или вес не будет соответствовать указанным в Накладной, созданной
                        Отправителем в личном кабинете на сайте самостоятельно, то Курьерская служба
                        корректирует заказ в соответствии с итоговыми показателями. Отправитель
                        самостоятельно отслеживает изменения в личном кабинете, в том числе и
                        корректировку информации по заказу, включая изменение стоимости услуги.
                        Отправитель гарантирует оплату итоговой стоимости.
                      </p>
                    </li>
                    <li data-count="3.12">
                      Курьерская служба вправе в одностороннем безакцептном порядке изменять тарифы.
                      Курьерская служба размещает в свободном доступе соответствующие изменения за
                      10 (десять) дней до даты вступления изменений в силу. Пользователь услуги
                      подтверждает, что нахождение таких изменений в свободном доступе на объекте
                      Курьерской службы и официальном сайте достаточно, чтобы считать, что они
                      исходят от Курьерской службы. Пользователь услуги обязуется самостоятельно
                      отслеживать изменения в тарифах.
                    </li>
                    <li data-count="3.13">
                      Максимальные габариты и вес отправлений устанавливаются Курьерской службой и
                      могут изменяться в зависимости от направления.
                    </li>
                    <li data-count="3.14">
                      Курьерская служба самостоятельно, без участия Пользователя услуги, выбирает
                      конкретный маршрут, транспорт и перевозчика в зависимости от вида отправления,
                      Получателя и его адреса, а также осуществляет отправление ближайшим рейсом. В
                      случае невозможности осуществить отправку отправления ближайшим рейсом, оно
                      отправляется следующим возможным рейсом. Дополнительного согласования переноса
                      с Отправителем не требуется.

                      <p>
                        Сроки исчисляются в рабочих днях и не включают выходные дни, праздничные дни
                        федерального или регионального значения, задержки, связанные с соблюдением
                        местных требований безопасности и досмотром содержимого отправления как
                        Курьерской службой, так и уполномоченными органами, а также иные события вне
                        контроля Курьерской службы. День приёма отправления не учитывается в
                        исчислении срока доставки, при этом стороны принимают во внимание, что сроки
                        доставки могут быть увеличены в связи с неблагоприятными погодными
                        условиями, с праздничными днями, специальными мероприятиями, сведения о
                        которых опубликованы в средствах массовой информации
                      </p>
                    </li>
                    <li data-count="3.15">
                      Курьерская служба не возмещает убытки, причинённые Пользователю услуги в
                      результате нарушения срока доставки груза в пункт назначения.
                    </li>
                    <li data-count="3.16">
                      Отправитель возмещает курьерской службе и третьим лицам все претензии, ущерб,
                      убытки и штрафы в случае установления неприемлемости отправления для отправки
                      согласно положениям настоящего Регламента.
                    </li>
                    <li data-count="3.17">
                      При приёмке отправления Отправителю выдаётся Накладная. В Накладной
                      указывается стоимость отправления, информация об Отправителе и Получателе,
                      контактные телефоны Отправителя и Получателя, населённый пункт Получателя, тип
                      отправления, габариты, количество мест и т.п.
                      <p>
                        Отправитель (юридическое лицо) в личном кабинете на сайте Курьерской службы
                        может самостоятельно предварительно оформить заказ, указав необходимую
                        информацию в соответствии с формой на сайте, и распечатать Накладную заказа
                        в 3 (трёх) экземплярах. Накладные необходимо подписать. После упаковки
                        отправления Отправителю необходимо наклеить один экземпляр Накладной на
                        отправление. Второй экземпляр Отправителю необходимо положить в специальный
                        ящик для Накладных в офисе Курьерской службы после того, как отправление
                        будет оставлено в специально выделенной зоне для самооформленных
                        отправлений. Третий экземпляр остаётся у Отправителя
                      </p>
                    </li>
                    <li data-count="3.18">
                      Подписывая Накладную об отправке Отправитель выражает своё согласие на
                      осуществление Курьерской службой обработку персональных данных (любые действия
                      (операции) или совокупность действий (операций), совершаемых с использованием
                      средств автоматизации или без использования таких средств с персональными
                      данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение
                      (обновление, изменение), извлечение, 5 Регламент оказания услуг Баскурьер
                      использование, передачу (распространение, предоставление, доступ),
                      обезличивание, блокирование, удаление, уничтожение), а именно фамилия, имя,
                      отчество, паспортные данные или водительского удостоверения, год рождения,
                      дата рождения, адрес, а также иная информация, необходимая для достижения
                      указанных целей и предусмотренная действующим законодательством Российской
                      Федерации, в соответствии с требованиями Федерального закона от 26.06.2006 №
                      152-ФЗ «О персональных данных». Указанные Пользователем услуг персональные
                      данные предоставляются в целях оказания услуг, заключения и исполнения
                      договора на предоставление услуг, возложенных на Курьерскую службу настоящим
                      Регламентом функций. Настоящие согласие действительно вплоть до ликвидации
                      Курьерской службы. Отправитель даёт своё согласие Курьерской службе на
                      передачу персональных данных третьим лицам в целях достижения указанных целей.
                      <p>
                        Курьерская служба вправе поручить обработку указанных персональных данных
                        другому лицу, в соответствии с чем, настоящее согласие на обработку
                        персональных данных считается данным Пользователем услуги этому лицу.
                      </p>
                      <p>
                        В целях достижения указанных целей Курьерской службой, Отправитель передаёт
                        курьерской службе персональные данные Получателя отправлений (его
                        представителя), своих представителей и свои. Отправитель, передавая
                        персональные данные Курьерской службе гарантирует, что получил согласие
                        субъектов персональных данных на сбор, хранение, передачу (в том числе
                        передачу третьим лицам, привлечённым Курьерской службой для достижения
                        указанных целей), уничтожение и обработку персональных данных как
                        автоматизированным, так и неавтоматизированным способом.
                      </p>
                    </li>
                    <li data-count="3.19">
                      Отправитель обязуется по требованию Курьерской службы предоставить согласие на
                      использование и обработку персональных данных Отправителя (представителей
                      Отправителя), Получателя (представителей Получателя) отправлений.
                    </li>
                  </ol>
                </tui-expand>
              } @placeholder {
                <p>.....</p>
              }

              @defer (on viewport) {
                <tui-expand [expanded]="isVisible">
                  <ol>
                    <li data-count="3.20">
                      Отправитель гарантирует, что Получатель отправления прибудет к месту и времени
                      прибытия рейсового автобуса, которым отправлено отправление.
                    </li>
                    <li data-count="3.21">
                      Для информирования Получателя, Курьерская служба направляет на указанный в
                      Накладной мобильный номер телефона смс-сообщение о факте отправки отправления,
                      номер рейса автобуса, гос. номер транспортного средства, время и место
                      прибытия (если в населённом пункте отсутствует автовокзал), количество мест.
                      Получатель считается извещённым с момента направления уведомления Курьерской
                      службой.
                    </li>
                    <li data-count="3.22">
                      Отправление выдаётся Получателю в пункте выдачи заказа (если в населённом
                      пункте присутствует филиал или в отделение на базе партнёров) или
                      непосредственно в населённом пункте, указанном отправителем, с учётом времени
                      стоянки автобуса для высадки пассажиров.
                    </li>
                    <li data-count="3.23">
                      Вручение отправлений Получателям – физическим лицам, осуществляется при
                      предъявлении документа, удостоверяющего личность Получателя. При отсутствии
                      прямых указаний Отправителя или Получателя допускается выдача отправлений
                      иному лицу, при наличии оригиналов/копии документов, удостоверяющих личность
                      Получателя, указанного в квитанции, а также при наличии обстоятельств,
                      вытекающих из обстановки и свидетельствующих надлежащности и полномочности
                      Получателя.
                    </li>
                    <li data-count="3.24">
                      Вручение юридическому лицу, являющемуся Получателем, уполномоченному
                      представителю юридического лица на основании доверенности. При этом
                      Отправитель может указать в Накладной контактное лицо организации, являющейся
                      Получателем, но это не влечёт обязательство Курьерской службы вручить
                      отправление только данному лицу.
                    </li>
                    <li data-count="3.25">
                      Обязанность Курьерской службы по организации отправления считается исполненной
                      надлежащим образом в случае невозможности вручения отправления Получателю по
                      независящим от Курьерской службы обстоятельствам, в том числе, но не
                      ограничиваясь:

                      <ul class="mt-3 ml-3 list-disc">
                        <li>
                          в случае опоздания и/или неприбытия Получателя на место выдачи отправлений
                          в населённом пункте (если в населённом пункте нет пункта выдачи заказа) ко
                          времени прибытия.
                        </li>
                        <li>
                          в случае ошибки Отправителя в указанном телефонном номере Получателя.
                        </li>
                        <li>недоступности мобильного телефона Получателя.</li>
                        <li>
                          отсутствие услуги мобильной связи у Получателя, в том числе услуги
                          получения смс-сообщений.
                        </li>
                        <li>отказ Получателя от получения отправления.</li>
                        <li>иных обстоятельств, независящих от Курьерской службы.</li>
                      </ul>
                      <p>
                        Отправления не хранятся в населённых пунктах Получателя, за исключением тех
                        населённых пунктов, где есть 6 Регламент оказания услуг Баскурьер 4 пункты
                        выдачи.
                      </p>
                      <p>
                        В случае возврата отправления в офис Курьерской службы (по независящим от
                        Курьерской службы причинам) Отправителем оплачивается повторная отправка
                        отправления
                      </p>
                    </li>
                    <li data-count="3.26">
                      Хранение отправлений в пунктах выдачи свыше суток с момента доставки
                      оплачивается Получателем отдельно, в соответствии с тарифами, установленными
                      Курьерской службой.
                    </li>
                    <li data-count="3.27">
                      Временное платное хранение невостребованных отправлений осуществляется в
                      течение 10 (десяти) календарных дней. По истечению указанного срока временного
                      хранения отправления на складе, Курьерская служба посредством смс-уведомления
                      на телефонный номер, содержащийся в Накладной, запрашивает у Отправителя
                      указания относительно дальнейшей судьбы его отправления.
                      <p>
                        Смс-уведомление, направленное Курьерской службой во всех случаях, считается
                        полученным Отправителем с момента его направления. Отправитель гарантирует,
                        что указанный им номер телефона правильный и доступный для звонков,
                        смс-уведомлений до момента исполнения обязательств всеми сторонами.
                      </p>
                      <p>
                        Письменные указания о дальнейшей судьбе отправления Отправитель направляет
                        на почтовый ящик inbox&#64;busbox.guru.
                      </p>
                      <p>
                        Курьерская служба выполняет полученные указания при отсутствии задолженности
                        Пользователя за оказанные услуги.
                      </p>
                      <p>
                        Если Отправитель не предоставил Курьерской службе указаний, относительно
                        дальнейшей судьбы отправления в течение 3 (трёх) рабочих дней после
                        направления запроса посредством смс-уведомления, а также, когда Клиент не
                        предоставил или предоставил неправильный номер телефона, при оформлении
                        отправления Курьерская служба вправе утилизировать данное отправление.
                      </p>
                      <p>
                        Пользователь согласен с тем, что в случае утилизации отправления Курьерская
                        служба не возмещает стоимость отправления. Отправитель самостоятельно несёт
                        риск утилизации отправления вследствие отсутствия у Курьерской службы
                        контактов для направления смс-уведомления.
                      </p>
                      <p>
                        Утилизация груза не освобождает Отправителя от оплаты фактически оказанных
                        услуг, в том числе услуг по хранению.
                      </p>
                      <p>
                        По истечении 10 (десяти) календарных дней хранения отправления Курьерская
                        служба не отвечает за утрату, недостачу или повреждение хранимого
                        отправления.
                      </p>
                    </li>
                    <li data-count="3.28">
                      В городах получения, где есть филиал «Баскурьер» доступна дополнительная
                      платная услуга «Оплата получателем». Оплата осуществляется в момент получения
                      груза. В случае отказа от получения, а также неполучении груза Получателем в
                      установленные сроки расходы по доставке, хранению, возврату в пункт
                      отправления несёт Отправитель. В случае отказа от оплаты, Отправитель будет
                      заблокирован без дальнейшего права пользования услугами компании, до полного
                      погашения задолженности.
                    </li>
                    <li data-count="3.29">
                      Получатель непосредственно в момент получения отправления обязан осмотреть
                      его, в том числе, на предмет целостности упаковки. В случае обнаружения
                      каких-либо дефектов незамедлительно сообщить Курьерской службе в письменной
                      форме о вручении дефектного отправления (отправления, по внешним признакам
                      которых можно предположить недостачу, повреждение или порчу вложения), в
                      противном случае претензии не принимаются.
                    </li>
                    <li data-count="3.30">
                      В случае, если во время выдачи отправления Получатель не уведомил Курьерскую
                      службу в письменной форме об утрате, о недостаче или повреждении (порче)
                      отправления и не указал общий характер недостачи или повреждения (порчи)
                      груза, считается, если не доказано иное, что он получил груз неповреждённым.
                    </li>
                  </ol>
                </tui-expand>
              } @placeholder {
                <p>.....</p>
              }

              @if (!isVisible) {
                <div class="mt-4 flex justify-center">
                  <button type="button" tuiButton (click)="show()">Показать еще</button>
                </div>
              }
            }
            @case (4) {
              @defer (on viewport; prefetch on idle) {
                <ol>
                  <li data-count="4.1">
                    Пользователь услуги обязан оплатить Курьерской службе оказанные ему услуги в
                    соответствии с тарифами, размещёнными на сайте и которые действуют на момент
                    отправки.
                  </li>
                  <li data-count="4.2">
                    Отправитель обязан до момента заказа услуг ознакомиться с тарифами Курьерской
                    службы, правилами и ориентировочными сроками оказания услуг, дополнительными
                    условиями и иной информацией, размещённой на Сайте. Заказ услуг Курьерской
                    службы является надлежащим и достаточным подтверждением того, что Пользователь с
                    7 Регламент оказания услуг Баскурьер 5 вышеуказанной информацией ознакомлен в
                    полном объёме и выражает свое полное согласие.
                  </li>
                  <li data-count="4.3">
                    Отправитель обязан передать Курьерской службе отправление, упакованное в тару,
                    которая обеспечит его целостность, возможность нанесения маркировки и
                    сохранность при транспортировке и не позволит нанести вред перевозимым совместно
                    с ним грузам других клиентов, а также транспортному средству и оборудованию.
                  </li>
                  <li data-count="4.4">
                    Отправитель имеет право получить обратно свое отправление, ещё не отправленное
                    по назначению в день оформления отправления к отправке.
                  </li>
                  <li data-count="4.5">
                    В целях повышения сохранности отправления Отправитель может оплачивать
                    дополнительную упаковку по тарифам, установленным Курьерской службой.
                    Дополнительная упаковка отправления не освобождает Отправителя от обязательств
                    по обеспечению надлежащей внутренней/внутритарной упаковки отправления.
                    Ответственность за повреждение отправления при целостности наружной упаковки
                    лежит на Отправителе.
                  </li>
                  <li data-count="4.6">
                    Отправитель обязан уведомить Получателя о сдаче Курьерской службе отправления
                    для доставки в его адрес.
                  </li>
                  <li data-count="4.7">
                    Курьерская служба имеет право вскрывать и инспектировать отправление без
                    предварительного уведомления Отправителя по требованию государственных органов и
                    органов местного самоуправления в соответствии с действующим законодательством
                    РФ.
                  </li>
                  <li data-count="4.8">
                    Курьерская служба вправе отказать в приёмке отправления при несоответствии его
                    содержимого, заявленного в Накладной, и сопровождающих документов.
                  </li>
                  <li data-count="4.9">
                    Курьерская служба имеет право досмотреть отправление в целях безопасности.
                  </li>
                  <li data-count="4.10">
                    Курьерская служба имеет право отказать в приёмке отправления пользователю услуги
                    без объяснения причин. Курьерская служба не принимает к отправлению недопустимые
                    вложения, негабаритные отправления, опасные и или/запрещённые к перевозке.
                  </li>
                  <li data-count="4.11">
                    Курьерская служба вправе потребовать от Отправителя дополнительные документы,
                    свидетельствующие о характере вложения отправления, в том числе лицензии,
                    сертификаты, свидетельства соответствия и т.д
                  </li>
                  <li data-count="4.12">
                    Курьерская служба обязана предпринять все зависящие от неё меры для
                    своевременной отправки отправлений.
                  </li>
                  <li data-count="4.13">
                    Курьерская служба или уполномоченное им лицо имеет право задержать отправление,
                    содержимое которого запрещено к перевозке, в месте его обнаружения.
                  </li>
                  <li data-count="4.14">
                    Курьерская служба имеет право осуществлять видеонаблюдение, а также телефонную
                    запись в своих помещениях и на своих устройствах в целях обеспечения
                    безопасности и надлежащего обслуживания Клиента без его дополнительного
                    уведомления. Видеозаписи и записи телефонных разговоров могут быть использованы
                    в качестве доказательств в соответствии с законодательством Российской
                    Федерации.
                  </li>
                </ol>
              } @placeholder {
                <p>.....</p>
              }
            }
            @case (5) {
              @defer (on viewport; prefetch on idle) {
                <ol>
                  <li data-count="5.1">
                    Курьерская служба не несёт ответственности за какой-либо ущерб, убытки либо
                    просрочку исполнения принятых на себя обязательств, если они вызваны
                    независящими от Курьерской службы обстоятельствами
                  </li>
                  <li data-count="5.2">
                    Перечень обстоятельств, независящих от Курьерской службы (не исчерпывающий):

                    <ul>
                      <li>
                        Стихийные бедствия, в том числе землетрясение, циклон, буря, наводнение,
                        туман, введение ЧС и т.д.
                      </li>
                      <li>
                        Форс-мажорные обстоятельства, в том числе: военные действия, мятеж, массовые
                        беспорядки, забастовки и т.д.
                      </li>
                      <li>
                        Любые дефекты и характеристики, обусловленные свойствами отправления, даже
                        если о них сообщено Курьерской службе в момент отправления.
                      </li>
                      <li>
                        Любые действия/бездействия лиц, не являющихся сотрудниками курьерской
                        службы.
                      </li>
                      <li>
                        а именно: Отправителя, Получателя, третьих лиц (в том числе перевозчика),
                        официальных лиц.
                      </li>
                      <li>
                        Предоставление для отправки вложений опасных/запрещённых к пересылке в
                        соответствии с законодательством РФ и примерным перечнем, утверждённым
                        Курьерской службой.
                      </li>
                      <li>
                        Негативное воздействие электрических и/или магнитных полей на электронные
                        или фотографические изображения, данные или записи, или их стирание.
                      </li>
                      <li>
                        Невыполнение Пользователем услуги условий, установленных настоящим
                        Регламентом
                      </li>
                      <li>
                        Отправление принято и вручено Получателем, при этом отсутствуют внешние
                        повреждения упаковки
                      </li>
                      <li>
                        Факт порчи отправления связан с несоблюдением определённого температурного
                        режима, нормативной утечкой, потерей веса, объёма или нормативного износа,
                        самовозгорания, брожения, гниения, старения, усушки, коррозии и других
                        естественных свойств вложения в отправление.
                      </li>
                      <li>
                        Факт порчи отправления (части отправления) был установлен после получения
                        отправления Получателем.
                      </li>
                      <li>
                        Причинённый пользователю услуги ущерб не связан с исполнением обязательств
                        курьерской службы (ненадлежащее качество, размер, ассортимент вложения и
                        т.д.).
                      </li>
                    </ul>
                  </li>
                </ol>
              } @placeholder {
                <p>.....</p>
              }
            }
            @case (6) {
              @defer (on viewport; prefetch on idle) {
                <ol>
                  <li data-count="6.1">
                    Курьерская служба высоко ценит каждого своего Клиента и с большим вниманием
                    относиться ко всем пожеланиям и претензиям.
                  </li>
                  <li data-count="6.2">
                    Все споры, возникшие вследствие заключения, действия, исполнения и прекращения
                    действия Договора разрешаются сторонами в прете
                  </li>
                  <li data-count="6.3">
                    Претензии принимаются только в письменной форме в ближайшем офисе Курьерской
                    службы или по средствам почтового направления в адрес Курьерской службы заказным
                    письмом или в электронной форме на адрес inbox&#64;busbox.guru с последующим
                    направлением оригинала претензии почтой в течение 10 календарных дней.
                    Пользователь услуги вправе предъявить претензию Курьерской службе в течение 30
                    (тридцати) календарных дней с момента передачи отправления для доставки.
                  </li>
                  <li data-count="6.4">
                    Для разрешения споров, связанных с нарушением сохранности отправления, в момент
                    получения и в присутствии уполномоченного лица Курьерской службы, Получателем
                    составляется двусторонний Акт приёма/передачи, в котором указывается состояние
                    упаковки и самого отправления. Акт приёма/передачи должен быть составлен
                    надлежащим образом, подписан сторонами с расшифровкой.
                  </li>
                  <li data-count="6.5">
                    При направлении претензии должны быть приложены документы, подтверждающие право
                    на предъявление претензии, и документы, подтверждающие количество и объявленную
                    стоимость груза, принятого к перевозке отправления, в подлиннике или
                    засвидетельствованные в установленном порядке их копии, а также Акт
                    приёма/передачи.
                  </li>
                  <li data-count="6.6">
                    При приёме отправления без надлежащей проверки, без заполнения необходимых
                    документов и немедленного уведомления Курьерской службы в момент приёмки –
                    претензии не принимаются.
                  </li>
                  <li data-count="6.7">
                    Срок ответа на предъявленную претензию устанавливается 30 (тридцать) календарных
                    дней со дня получения претензии в письменном виде.
                  </li>
                  <li data-count="6.8">
                    В случае неурегулирования споров путём переговоров, они подлежат рассмотрению в
                    судебном порядке:
                  </li>
                  <li data-count="6.8.1">
                    Споры с юридическими лицами и индивидуальными предпринимателями - в Арбитражном
                    суде Приморского края.
                  </li>
                  <li data-count="6.8.2">
                    Споры с физическими лицами – в мировом и районном суде по месту нахождения
                    Курьерской службы.
                  </li>
                </ol>
              } @placeholder {
                <p>.....</p>
              }
            }
          }
        </app-step-card>
      }
    </app-steps>
  </div>
</app-sidebar-layout>
