<div class="relative h-48 w-full rounded-sm bg-gray-50">
  <img
    [ngSrc]="'complex-task-' + case.id + '.jpg'"
    alt="Доставка цветов из аэропорта по Приморскому краю за 24 часа"
    ngSrcset="370w, 640w, 1280w, 1920w"
    sizes="(min-width: 768px) 345px, (min-width: 640px) 270px, 100vw"
    fill
    class="rounded-sm object-cover"
  />
</div>
<div class="p-6">
  <h3 class="font-bold text-xl text-gray-900 mb-3 line-clamp-2">
    {{ case.title }}
  </h3>
  <p class="text-gray-600 text-sm mb-4 line-clamp-3">
    {{ case.description }}
  </p>

  <a
    [routerLink]="['/services/complex-tasks']"
    [queryParams]="{ id: case.id }"
    class="inline-flex items-center text-black hover:text-yellow-500 font-medium text-sm transition-colors"
  >
    Читать далее
    <tui-icon icon="@tui.chevron-right" [style.font-size.rem]="0.8" class="ml-0.5" />
  </a>
</div>
