@let vm = vm$ | async;

@if (vm) {
  @if (vm.order.isLoading) {
    @for (item of getSkeletonArray(); track $index) {
      <div class="mb-3 h-3" [tuiSkeleton]="true"></div>
    }
  } @else {
    @if (vm.order.details; as details) {
      <div class="font-base flex flex-col text-left">
        <b class="text-2xl font-bold">№ {{ details.order.order_id }}</b>
        <div class="flex items-baseline text-xs">
          <small class="mr-2">от {{ details.order.order_date.date }}</small>
          <b class="text-yellow lowercase">{{ details.order.order_name }}</b>
        </div>

        <div class="mt-6">
          <b class="text-sm">Направление перевозки:</b>
          <p class="mb-3 text-sm">
            г. {{ details.order.city_from }} &#8212; г. {{ details.order.city_to }}
          </p>
          <b class="text-sm">Получатель:</b>
          <p class="mb-3 text-sm">
            {{ details.order.recipient_name }}
          </p>
          <b class="text-sm">Телефон получателя:</b>
          <p class="mb-3 text-sm">
            {{ details.order.recipient_phone }}
          </p>
          <b class="text-sm">Тип груза:</b>
          <p class="mb-3 text-sm">
            {{ details.order.cargo_type_ext || details.order.cargo_type }}
            (мест: {{ details.order.cargo_count }})
          </p>

          @if (details.order.dimensions_raw && details.order.dimensions_raw.length) {
            <tui-scrollbar class="scroll-yellow max-h-[142px]">
              @for (dim of details.order.dimensions_raw; let i = $index; track i) {
                <div class="mb-4 flex items-end text-sm">
                  <div class="mr-10">
                    <b class="mb-1.5 block text-sm">Габариты груза:</b>
                    <div class="flex items-center space-x-4">
                      <span class="flex flex-col">
                        <small>Ширина:</small>
                        <b>{{ dim.width }} см</b>
                      </span>
                      <b>x</b>
                      <span class="flex flex-col">
                        <small>Длина:</small>
                        <b>{{ dim.length }} см</b>
                      </span>
                      <b>x</b>
                      <span class="flex flex-col">
                        <small>Высота:</small>
                        <b>{{ dim.height }} см</b>
                      </span>
                    </div>
                  </div>
                  <div class="flex flex-col items-center">
                    <b class="mb-3 block text-sm">Вес груза:</b>
                    <b class="text-[24px] leading-[24px]">{{ dim.weight }} кг</b>
                  </div>
                </div>
              }
            </tui-scrollbar>
          }
          @if (details.order.cargo_description) {
            <b class="text-sm">Описание:</b>
            <p class="text-sm">
              {{ details.order.cargo_description }}
            </p>
          }

          @if (details.carrier_info; as carrier) {
            <div class="flex justify-between">
              @if (carrier.time_departure; as departure) {
                <div>
                  <b class="text-sm">Время отправки:</b>
                  <p class="mb-3 text-sm">
                    {{ departure.date }}
                    {{ departure.time }}
                  </p>
                </div>
              }

              @if (carrier.time_arrival; as arrival) {
                <div>
                  <b class="text-sm">Время доставки:</b>
                  <p class="mb-3 text-sm">
                    {{ arrival.date }}
                    {{ arrival.time }}
                  </p>
                </div>
              }
            </div>
          }

          @if (!!parseInt(details.order.order_price, 10)) {
            <div class="mt-5 text-xl">
              <span class="text-gray-500">Итого:&nbsp;</span>
              <b>{{ details.order.order_price }} руб.</b>
            </div>
          }
        </div>

        @if (vm.order.canCancel) {
          <button
            tuiButton
            type="button"
            size="m"
            [loading]="vm.order.isCanceling"
            class="col-span-2 mt-6 sm:col-span-1"
            (click)="cancelOrder(orderId)"
          >
            Отменить заказ
          </button>
        }
      </div>
    }
  }
}
