@let vm = vm$ | async;
@let isMainLayout = isMainLayout$ | async;
@let currentStep = currentStep$ | async;
@let isAuth = auth.isAuthenticated() | async;
@let isLegal = bookingFacade.isLegalEntity() | async;

@if (!isSuccessPage && !isFailurePage) {
  <div class="booking-header">
    <h1 class="mb-3 text-4xl font-bold">
      {{ 'booking.title' | transloco }}
    </h1>

    <p class="mb-0 max-w-[540px] text-gray-700">
      {{ 'booking.subtitle' | transloco }}
    </p>
  </div>
}

@if (vm && isMainLayout) {
  <app-stepper [isLegalEntity]="!!isAuth" [steps]="vm.steps" />
}
<router-outlet />

@if (vm && isMainLayout && !(isLegal && currentStep === 1)) {
  <div class="mt-10 flex justify-between gap-2">
    <button
      type="button"
      appearance="secondary"
      tuiButton
      size="xl"
      iconStart="@tui.chevron-left"
      [class.cursor-not-allowed!]="!vm.prevStep"
      [disabled]="!vm.prevStep"
      (click)="goPrevStep(vm.prevStep)"
    >
      {{ 'buttons.back' | transloco }}
    </button>
    @if (vm.isLastStep) {
      <button
        class="ml-auto"
        type="button"
        tuiButton
        size="xl"
        iconEnd="@tui.handshake"
        [disabled]="!vm.stepsValid"
        [loading]="vm.isBooking"
        (click)="submitOrder()"
      >
        {{ 'buttons.sendOrder' | transloco }}
      </button>
    } @else {
      <button
        class="ml-auto"
        type="button"
        tuiButton
        size="xl"
        iconEnd="@tui.chevron-right"
        [disabled]="!vm.nextStep"
        (click)="goNextStep(vm.nextStep)"
      >
        {{ 'buttons.next' | transloco }}
      </button>
    }
  </div>
}

@if (vm?.isBooking) {
  <div class="absolute inset-0 z-20"></div>
}
