<nav>
  <ul class="flex items-center justify-center gap-x-2">
    @for (item of navigationItems; track item.link) {
      <li class="relative">
        @if (item.dropdown) {
          <div
            class="relative"
            (mouseenter)="onMouseEnter(item.link)"
            (mouseleave)="onMouseLeave(item.link)"
          >
            <button
              type="button"
              routerLinkActive="bg-yellow-500/20"
              [routerLink]="'/' + item.link"
              [class]="cn(navLinkClass, dropdownToggleClass)"
              [tuiDropdownManual]="isDropdownOpen(item.link)"
              [tuiDropdown]="dropdownTemplate"
              (tuiActiveZoneChange)="onActiveZoneChange($event, item.link)"
            >
              {{ item.name }}
              <tui-icon
                icon="@tui.chevron-down"
                [style.font-size.rem]="1"
                [class.rotate-180]="isDropdownOpen(item.link)"
              />
            </button>

            <ng-template #dropdownTemplate>
              <div
                class="py-3"
                (mouseenter)="openDropdown(item.link)"
                (mouseleave)="onMouseLeave(item.link)"
              >
                <ul>
                  @for (subItem of item.dropdown; track subItem.link) {
                    <li>
                      <a
                        [routerLink]="'/' + subItem.link"
                        [class]="dropdownLinkClass"
                        routerLinkActive="bg-yellow-500/20 font-medium"
                        (click)="closeAllDropdowns()"
                      >
                        {{ subItem.name }}
                      </a>
                    </li>
                  }
                </ul>
              </div>
            </ng-template>
          </div>
        } @else {
          <a
            [routerLink]="'/' + item.link"
            [class]="navLinkClass"
            routerLinkActive="bg-yellow-500/20"
          >
            {{ item.name }}
          </a>
        }
      </li>
    }
  </ul>
</nav>
