@let breadcrumbs = breadcrumbs$ | async;

@if (breadcrumbs && breadcrumbs.length > 1) {
  <tui-breadcrumbs size="l">
    @for (item of breadcrumbs$ | async; track item.routerLink; let isLast = $last) {
      <ng-container *tuiItem>
        @if (!isLast) {
          <a
            tuiLink
            [routerLink]="item.routerLink"
            [class.disabled]="item.disabled"
            class="flex items-center gap-1 text-sm! text-gray-500"
          >
            @if (item.icon) {
              <!--            <tui-icon [icon]="item.icon" class="text-sm"></tui-icon>-->
              icon
            }
            {{ item.caption }}
          </a>
        } @else {
          <span class="flex items-center gap-1 text-sm text-gray-500">
            @if (item.icon) {
              <!--                <tui-icon [icon]="item.icon" class="text-sm"></tui-icon>-->
              icon
            }
            {{ item.caption }}
          </span>
        }
      </ng-container>
    }
  </tui-breadcrumbs>
}
