@let vm = vm$ | async;

<app-sidebar-layout [actions]="pageActions" [documentTypes]="['rules']">
  <tui-notification appearance="warning" class="mb-6 max-w-2xl">
    Тарифы указаны только для филиалов
    <b>«Баскурьер».</b>
    Если нужно узнать стоимость отправки из других населённых пунктов — свяжитесь с оператором.
  </tui-notification>

  @if (vm) {
    <section class="group/actions mb-10 flex flex-wrap gap-3 border-y border-gray-100 pt-5 pb-5">
      @for (city of cities$ | async; track city.id) {
        <label
          appearance
          tuiChip
          size="m"
          tabindex="0"
          class="shadow-xs transition-all active:translate-y-[2px] active:shadow-none"
        >
          {{ city.name }}
          <input
            appearance="outline"
            name="radio"
            tuiChip
            type="radio"
            [value]="city"
            [ngModel]="vm.selectedCity"
            (ngModelChange)="onCityChange($event)"
          />
        </label>
      } @empty {
        <div *tuiRepeatTimes="let i of SKELETON_COUNT" class="h-12 w-32" [tuiSkeleton]="true"></div>
      }
    </section>

    <div>
      <section class="mb-20">
        @if (vm.zones.hasData) {
          <h2 class="font-heading mb-4 text-3xl font-bold text-gray-900">Зоны доставки</h2>

          <p class="mb-6">
            Чтобы узнать стоимость доставки, сначала посмотрите, к какой зоне относится ваш город.
            <br />
            Выберите зону — и сможете сразу определить нужный тариф.
          </p>
          @for (zone of vm.zones.data; track zone.site_id) {
            <div
              class="group/zone from-border mb-10 rounded-lg border-4 border-yellow-500/80 bg-yellow-500/10 bg-gradient-to-tl p-6 pt-0 transition-all hover:border-yellow-500 hover:shadow-md"
            >
              <b
                class="mb-6 inline-block rounded-b-lg bg-yellow-500/80 p-2 text-sm leading-tight font-medium text-yellow-900 shadow-2xs group-hover/zone:bg-yellow-500"
              >
                {{ zone.zone }}
              </b>
              <div class="flex flex-wrap gap-2 text-sm leading-relaxed text-gray-900">
                @for (city of zone.cities.split(','); track $index) {
                  <span [class]="cityBadgeClass">
                    {{ city }}
                  </span>
                }
              </div>
            </div>
          }
        } @else {
          <div
            *tuiRepeatTimes="let i of SKELETON_COUNT"
            class="mb-2.5 h-32 rounded-lg"
            [tuiSkeleton]="true"
          ></div>
        }
      </section>

      <div #zonesContainer>
        <div class="print-only">
          @if (vm.zones.hasData) {
            @for (zone of vm.zones.data; track zone.site_id) {
              <div class="mb-8">
                <b class="mt-2 mb-2 block text-lg font-bold">
                  {{ zone.zone }}
                </b>
                <div class="text-base leading-7">
                  {{ zone.cities }}
                </div>
              </div>
            }
          }
        </div>
      </div>

      @if (vm.zoneTariffs.hasData) {
        <section class="mb-16">
          <h2 class="font-heading mb-4 text-3xl font-bold text-gray-900">Документы и грузы</h2>
          <p class="mb-6">
            В таблице представлены цены на доставку документов и грузов. Определите, в какой зоне
            находится населенный пункт в который вы отправляете с груз, и посмотрите стоимость по
            весу и размеру.
          </p>

          <div class="">
            <app-content-scroller>
              <table #parcelsFirstContainer class="w-full min-w-[400px]">
                <thead class="">
                  <tr>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">Габариты</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">Документы</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">0 - 5 кг</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">5 - 10 кг</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">10 - 20 кг</th>
                  </tr>
                </thead>
                @for (zone of vm.zoneTariffs.parcelsTable.zones; track zone.zone_id) {
                  @if ($index <= 3) {
                    <tbody>
                      <tr>
                        <td
                          colspan="5"
                          class="rounded-sm bg-yellow-500/40 p-3 text-center text-sm font-semibold"
                        >
                          {{ zone.zone_name }}
                        </td>
                      </tr>
                      @for (
                        row of getZoneRows(vm.zoneTariffs.parcelsTable, zone.zone_id);
                        track row.size;
                        let isEven = $even
                      ) {
                        <tr [class.bg-gray-50]="$odd">
                          <td class="w-1/5 px-2 py-3 text-center text-sm whitespace-nowrap">
                            {{ row.size }}
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.documents) {
                              <span>{{ row.zones[zone.zone_id].documents }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_0_5) {
                              <span>{{ row.zones[zone.zone_id].weight_0_5 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_5_10) {
                              <span>{{ row.zones[zone.zone_id].weight_5_10 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_10_20) {
                              <span>{{ row.zones[zone.zone_id].weight_10_20 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                        </tr>
                      }
                    </tbody>
                  }
                }
              </table>
              <table #parcelsSecondContainer class="w-full min-w-[400px]">
                <thead class="t-head-print-only">
                  <tr>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">Габариты</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">Документы</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">0 - 5 кг</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">5 - 10 кг</th>
                    <th class="px-2 py-3 text-sm font-semibold whitespace-nowrap">10 - 20 кг</th>
                  </tr>
                </thead>
                @for (zone of vm.zoneTariffs.parcelsTable.zones; track zone.zone_id) {
                  @if ($index > 3) {
                    <tbody>
                      <tr>
                        <td
                          colspan="5"
                          class="rounded-sm bg-yellow-500/40 p-3 text-center text-sm font-semibold"
                        >
                          {{ zone.zone_name }}
                        </td>
                      </tr>
                      @for (
                        row of getZoneRows(vm.zoneTariffs.parcelsTable, zone.zone_id);
                        track row.size;
                        let isEven = $even
                      ) {
                        <tr [class.bg-gray-50]="$odd">
                          <td class="w-1/5 px-2 py-3 text-center text-sm whitespace-nowrap">
                            {{ row.size }}
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.documents) {
                              <span>{{ row.zones[zone.zone_id].documents }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_0_5) {
                              <span>{{ row.zones[zone.zone_id].weight_0_5 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_5_10) {
                              <span>{{ row.zones[zone.zone_id].weight_5_10 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                          <td class="w-1/5 px-2 py-3 text-center text-sm">
                            @if (row.zones[zone.zone_id]?.weight_10_20) {
                              <span>{{ row.zones[zone.zone_id].weight_10_20 }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                        </tr>
                      }
                    </tbody>
                  }
                }
                <tfoot class="t-foot-print-only">
                  <tr>
                    <td colspan="5" class="pt-3">
                      <p class="mb-1 text-xs leading-relaxed text-gray-700">
                        *
                        <b class="text-gray-900">Документы</b>
                        – формата А4 до 1 кг, толщина до 1,5 см, без каких-либо сторонних вложений.
                      </p>
                      <p class="mb-0 text-xs leading-relaxed text-gray-700">
                        *
                        <b class="text-gray-900">Посылки свыше 160 см и свыше 20 кг</b>
                        - стоимость доставки можно рассчитать на сайте в разделе «Предварительный
                        расчет» или у менеджера.
                      </p>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <ng-container class="footer">
                <p class="mb-1 text-xs leading-relaxed text-gray-700">
                  *
                  <b class="text-gray-900">Документы</b>
                  – формата А4 до 1 кг, толщина до 1,5 см, без каких-либо сторонних вложений.
                </p>
                <p class="mb-0 text-xs leading-relaxed text-gray-700">
                  *
                  <b class="text-gray-900">Посылки свыше 160 см и свыше 20 кг</b>
                  - стоимость доставки можно рассчитать на сайте в разделе «Предварительный расчет»
                  или у менеджера.
                </p>
              </ng-container>
            </app-content-scroller>
          </div>
        </section>

        @if (vm.zoneTariffs.autopartsTable.rows.length) {
          <section class="mb-16">
            <h2 class="font-heading mb-4 text-3xl font-bold text-gray-900">Автозапчасти</h2>
            <p class="mb-6">
              В таблице представлены цены на доставку популярных автозапчастей. Определите, в какую
              зону отправляется деталь, и найдите стоимость в нужной колонке.
            </p>

            <div class="">
              <app-content-scroller>
                <table #autopartsContainer class="w-full min-w-[600px] text-sm">
                  <thead>
                    <tr>
                      <th class="px-3 py-3 text-left"></th>
                      @for (zone of vm.zoneTariffs.autopartsTable.zones; track zone.zone_id) {
                        <th
                          class="bg-yellow-500/40 px-3 py-3 text-center text-sm whitespace-nowrap"
                          [class.rounded-l-sm]="$first"
                          [class.rounded-r-sm]="$last"
                        >
                          {{ zone.zone_name }}
                        </th>
                      }
                    </tr>
                  </thead>

                  <tbody>
                    @for (
                      row of vm.zoneTariffs.autopartsTable.rows;
                      track row.type;
                      let isOdd = $odd
                    ) {
                      <tr [class.bg-gray-50]="isOdd">
                        <td class="px-3 py-3 text-sm font-semibold">
                          {{ row.type }}
                        </td>

                        @for (zone of vm.zoneTariffs.autopartsTable.zones; track zone.zone_id) {
                          <td class="px-3 py-3 text-center text-sm whitespace-nowrap">
                            @if (row.zones[zone.zone_id]) {
                              <span>{{ row.zones[zone.zone_id] }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                  <tfoot class="t-foot-print-only">
                    <tr>
                      <td colspan="7" class="pt-3">
                        <p class="mb-0 text-xs leading-relaxed text-gray-700">
                          *
                          <b class="text-gray-900">Автозапчасти</b>
                          – стоимость указана для стандартных размеров запчастей легковых
                          автомобилей. Для запчастей с превышением стандартных размеров расчёт
                          производится индивидуально менеджером.
                        </p>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <ng-container class="footer">
                  <p class="mb-0 text-xs leading-relaxed text-gray-700">
                    *
                    <b class="text-gray-900">Автозапчасти</b>
                    – стоимость указана для стандартных размеров запчастей легковых автомобилей. Для
                    запчастей с превышением стандартных размеров расчёт производится индивидуально
                    менеджером.
                  </p>
                </ng-container>
              </app-content-scroller>
            </div>
          </section>
        }

        @if (vm.zoneTariffs.otherTable.rows.length) {
          <section class="">
            <h2 class="font-heading mb-4 text-3xl font-bold text-gray-900">Другое</h2>
            <p class="mb-6">
              Мы предусмотрели отдельные тарифы для нестандартных отправлений — например, для
              цветов.
              <br />
              Это помогает точно рассчитать доставку.
            </p>
            <div class="">
              <app-content-scroller>
                <table #otherContainer class="w-full text-sm whitespace-nowrap">
                  <thead>
                    <tr>
                      <th class="px-3 py-3 text-left"></th>
                      @for (zone of vm.zoneTariffs.otherTable.zones; track zone.zone_id) {
                        <th
                          class="bg-yellow-500/40 px-3 py-3 text-center text-sm font-semibold"
                          [class.rounded-l-sm]="$first"
                          [class.rounded-r-sm]="$last"
                        >
                          {{ zone.zone_name }}
                        </th>
                      }
                    </tr>
                  </thead>

                  <tbody>
                    @for (row of vm.zoneTariffs.otherTable.rows; track row.type; let isOdd = $odd) {
                      <tr [class.bg-gray-50]="isOdd">
                        <td class="px-3 py-3 text-sm font-semibold">
                          {{ row.type }}
                        </td>

                        @for (zone of vm.zoneTariffs.otherTable.zones; track zone.zone_id) {
                          <td class="px-3 py-3 text-center text-sm font-medium">
                            @if (row.zones[zone.zone_id]) {
                              <span>{{ row.zones[zone.zone_id] }} ₽</span>
                            } @else {
                              <span class="text-gray-400">—</span>
                            }
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>
              </app-content-scroller>
            </div>
          </section>
        }
      } @else {
        <div
          *tuiRepeatTimes="let i of SKELETON_COUNT"
          class="mb-0.5 h-12"
          [tuiSkeleton]="true"
        ></div>
      }
    </div>
  }
</app-sidebar-layout>

<ng-template #actions let-content="content">
  <app-pdf-actions
    [content]="content"
    (print)="printPdf($event)"
    (download)="downloadPdf($event)"
  />
</ng-template>
