<div class="lg:grid lg:grid-cols-[1fr_370px] lg:gap-x-16">
  <div class="main-content mb-16 lg:mb-0">
    <ng-content></ng-content>
  </div>

  <aside class="max-w-[370px]">
    <div class="sticky top-24">
      <app-documents-list [documentTypes]="documentTypes"></app-documents-list>
      @if (customSidebarContent) {
        <ng-container [ngTemplateOutlet]="customSidebarContent"></ng-container>
      }

      @for (action of actions; track action.label) {
        <button
          type="button"
          tuiButton
          appearance="secondary-grayscale"
          [disabled]="action.disabled"
          (click)="action.handler()"
          size="l"
          class="mt-10 mb-2 w-full shadow-xs transition-all active:translate-y-[2px] active:shadow-none"
        >
          @if (action.icon) {
            <tui-icon [icon]="action.icon" class="mr-2"></tui-icon>
          }
          {{ action.label }}
        </button>
      }
    </div>
  </aside>
</div>
