<app-steps class="max-w-[680px]">
  @for (step of steps; track step.id) {
    <app-step-card [step]="step" *appStep>
      @switch (step.id) {
        @case (1) {
          <p class="mb-4">
            Мы поможем доставить багаж и грузы и
            <b>компаниям</b>
            , и
            <b>частным клиентам</b>
            — сервис доступен всем.
          </p>
        }
        @case (2) {
          <p class="mb-4">
            Оформите доставку
            <b>онлайн</b>
            или позвоните нам.
          </p>
          <p>
            Если заполняете форму на сайте — просто укажите в комментарии, что доставка нужна
            <b>из аэропорта.</b>
          </p>
        }
        @case (3) {
          <p class="mb-4">
            Менеджер перезвонит, уточнит все детали и расскажет, сколько стоит доставка и когда её
            ждать.
          </p>
        }
        @case (4) {
          <p class="mb-4">Для передачи груза представителю нужна доверенность.</p>
          <p class="mb-4 font-medium">Скачайте нужный бланк:</p>
          <app-documents-list [documentTypes]="['warrant_fiz', 'warrant_ur']" />
        }
        @case (5) {
          <p class="mb-4 text-center font-medium min-[460px]:text-left">Выберите, как удобнее:</p>
          <app-list spacing="sm" iconSize="sm">
            <span *appListItem>
              <b>Прямо по адресу</b>
              — мы привезём домой или в офис
            </span>
            <span *appListItem>
              <b>В филиале Баскурьер</b>
              — заберёте сами
            </span>
            <span *appListItem>
              <b>На автостанции</b>
              — если филиала нет, можно встретить автобус и получить груз у водителя.
            </span>
          </app-list>
        }
      }
    </app-step-card>
  }
</app-steps>

<section class="full-width-section mt-16 mb-10! border-t border-gray-200 pt-16">
  <div class="container mx-auto px-4">
    <app-carousel [items]="items" [itemTemplate]="slideTemplate"></app-carousel>
  </div>
</section>

<ng-template #slideTemplate let-brand>
  <app-brand-card [brand]="brand" />
</ng-template>
