@if (form) {
  <div
    [formGroup]="form"
    class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 xl:grid-cols-3"
  >
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.lastName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield #lastNameInput>
          <input
            tuiTextfield
            [formControl]="lastName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.lastName.minLength"
            [maxlength]="limits.user.lastName.maxLength"
            [attr.maxlength]="limits.user.lastName.maxLength"
            [placeholder]="'user.placeholders.lastName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (lastNameInput.focused()) {
          <span class="absolute top-1/2 right-2 -translate-y-1/2">
            <tui-badge
              appearance="secondary"
              size="s"
              [tuiHint]="'hint.messages.availableSymbols' | transloco"
            >
              {{ availableLastNameLength }}
            </tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.firstName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield #firstNameInput>
          <input
            tuiTextfield
            [formControl]="firstName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.firstName.minLength"
            [maxlength]="limits.user.firstName.maxLength"
            [attr.maxlength]="limits.user.firstName.maxLength"
            [placeholder]="'user.placeholders.firstName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (firstNameInput.focused()) {
          <span class="absolute top-1/2 right-2 -translate-y-1/2">
            <tui-badge
              appearance="secondary"
              size="s"
              [tuiHint]="'hint.messages.availableSymbols' | transloco"
            >
              {{ availableFirstNameLength }}
            </tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.middleName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield #middleNameInput>
          <input
            tuiTextfield
            [formControl]="middleName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.middleName.minLength"
            [maxlength]="limits.user.middleName.maxLength"
            [attr.maxlength]="limits.user.middleName.maxLength"
            [placeholder]="'user.placeholders.middleName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (middleNameInput.focused()) {
          <span class="absolute top-1/2 right-2 -translate-y-1/2">
            <tui-badge
              appearance="secondary"
              size="s"
              [tuiHint]="'hint.messages.availableSymbols' | transloco"
            >
              {{ availableMiddleNameLength }}
            </tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'contacts.labels.email' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="email"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'contacts.placeholders.email' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'contacts.labels.phone' | transloco }}
      </span>

      <tui-input-phone
        [formControl]="phone"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
      >
        {{ 'contacts.placeholders.phone' | transloco }}
      </tui-input-phone>
    </div>
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.role' | transloco }}
      </span>
      <tui-textfield tuiChevron [stringify]="'label' | tuiStringify" [tuiTextfieldCleaner]="false">
        <select
          tuiTextfield
          [placeholder]="'user.placeholders.role' | transloco"
          [formControl]="role"
        ></select>
        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          [items]="individualRoles"
          [itemContent]="'label' | tuiStringify | tuiStringifyContent"
        />
      </tui-textfield>
    </label>
  </div>
}
