@if (form) {
  <div
    [formGroup]="form"
    class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 xl:grid-cols-3"
  >
    <label tuiLabel>
      <span class="block text-sm text-gray-700">
        {{ 'user.labels.lastName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="lastName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'user.placeholders.lastName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.firstName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="firstName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'user.placeholders.firstName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.middleName' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="middleName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'user.placeholders.middleName' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'contacts.labels.email' | transloco }}
      </span>
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="email"
            [tuiHint]="[] | tuiFieldErrorContent"
            [placeholder]="'contacts.placeholders.email' | transloco"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <div tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'contacts.labels.phone' | transloco }}
      </span>

      <tui-textfield>
        <input
          autocomplete="tel"
          mask="+7 ### ###-##-##"
          tuiInputPhone
          [attr.pattern]="pattern"
          [formControl]="phone"
          [tuiHint]="[] | tuiFieldErrorContent"
          tuiHintAppearance="error"
          [placeholder]="'contacts.placeholders.phone' | transloco"
        />
      </tui-textfield>
    </div>
    <label tuiLabel>
      <span class="mb-1 block text-sm text-gray-700">
        {{ 'user.labels.role' | transloco }}
      </span>
      <tui-textfield tuiChevron [stringify]="stringify" tuiDropdownMobile="Роль отправителя">
        <input
          tuiSelect
          [formControl]="role"
          [tuiHint]="[] | tuiFieldErrorContent"
          tuiHintAppearance="error"
          [placeholder]="'user.placeholders.role' | transloco"
        />

        <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="individualRoles" />
      </tui-textfield>
    </label>
  </div>
}
