<div
  class="mx-auto mt-10 flex min-h-[600px] flex-col items-center justify-center text-center lg:mt-16"
>
  <img src="/assets/images/not-found.svg" class="w-full max-w-[400px]" alt="Страница не найдена" />
  <h1 class="font-heading mt-10 mb-1 text-2xl font-bold lg:text-3xl">Cтраница не найдена!</h1>
  <p class="mb-10">
    Возможно была допущена опечатка в названии или такой страницы не существует.
    <br class="hidden md:block" />
    Проверьте название страницы или перейдите
    <a
      routerLink="/"
      class="font-bold text-gray-900 underline-offset-4 hover:underline hover:opacity-80"
    >
      на главную
    </a>
  </p>
</div>
