@for (tab of tabs; track tab.id) {
  @if (maxTabs > 1) {
    <button
      type="button"
      tuiChip
      [class.!bg-yellow-500]="tab.isActive"
      [class.isInvalid]="tab.isActiveInvalid"
      (click)="onSelectOrder(tab.id)"
      [disabled]="tab.isDisabled"
    >
      Заказ №{{ tab.number }}
      @if (tabs.length > 1) {
        <button
          type="button"
          tuiIconButton
          iconStart="@tui.x"
          (click)="onRemoveTab($event, tab.id)"
        >
          Remove
        </button>
      }
    </button>
  }
}

@if (tabs.length < maxTabs) {
  <button type="button" tuiChip (click)="addTab()" [disabled]="!isActiveOrderValid">
    Добавить
  </button>
}
