@let documents = (documents$ | async) || [];
@let isDocumentsLoading = (isDocumentsLoading$ | async) || false;

<!--@if (isDocumentsLoading) {-->
<!--  <div class="mb-3 h-20 rounded" [tuiSkeleton]="true"></div>-->
<!--} @else if (documents.length > 0) {-->
<!--  -->
<!--} @else {-->
<!--  <div class="py-4 text-center text-sm text-gray-500">Документы отсутствуют</div>-->
<!--}-->

@for (document of documents; track document.charcode) {
  <app-document-card [size]="documentSize" [doc]="document" (show)="onDocumentShow(document)" />
} @empty {
  <div
    class="h-[98px] w-full max-w-[370px] grow rounded-2xl"
    *tuiRepeatTimes="let i of documentsCount"
    [tuiSkeleton]="true"
  ></div>
}

<ng-template #actionsTemplate let-content="content">
  <app-pdf-actions
    [content]="content"
    (print)="printPdf($event)"
    (download)="downloadPdf($event)"
  />
</ng-template>
