@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html.no-view-transition {
    scroll-behavior: smooth;
  }

  body {
    @apply font-roboto text-base;
  }

  h1 {
    @apply font-kelson;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto font-bold;
  }

  p {
    @apply mb-3 leading-6 text-gray-800;
  }

  ul li,
  ol li,
  dl dt,
  dl dd {
    @apply text-gray-800;
  }

  b {
    @apply font-medium;
  }

  select {
    font-size: 16px !important;
  }

  .print-only,
  .t-head-print-only,
  .t-foot-print-only {
    display: none;
  }
}
