@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-roboto);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-kelson);
  }
}

ymaps[class*='copyright'] {
  display: none;
}

ymaps[class*='map-copyrights-promo'] {
  display: none;
}

[class*='ymaps-2'][class*='-ground-pane'] {
  filter: grayscale(1) brightness(0.9);
}

ymaps[class*='controls-pane'] {
  display: none;
}
