/* link */
@utility link-* {
  position: relative;
  color: --value(--color-*, [color]);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
