<div class="space-y-6">
  <h1 class="text-4xl leading-tight font-bold text-black lg:text-5xl">
    О компании
    <span class="text-yellow-500">Баскурьер</span>
  </h1>
  <div class="space-y-4 text-lg leading-relaxed">
    <p class="text-gray-600">
      Мы первая в России официальная служба сверхсрочной доставки грузов междугородним рейсовым
      автотранспортом.
    </p>
    <p class="text-gray-600">
      Мы не работаем по принципу "любочных грузов", а отправляем посылки в самое ближайшее время с
      момента оформления доставки.
    </p>
    <p class="font-medium text-black">
      Филиалы нашей компании расположены в двух регионах страны: Приморский край и Республика
      Татарстан.
    </p>
  </div>
</div>
<div class="relative">
  <div
    class="absolute inset-0 rotate-3 transform rounded-3xl bg-gradient-to-br from-yellow-500 to-yellow-200 opacity-40"
  ></div>
  <img
    ngSrc="about-top.jpg"
    ngSrcset="345w, 420w, 500w, 690w, 840w, 1035w, 1380w, 1500w, 2070w"
    sizes="(min-width: 1280px) 500px, (min-width: 1024px) 420px, (min-width: 768px) 345px, 100vw"
    alt="Доставка грузов"
    width="1000"
    height="1000"
    class="relative h-[450px] w-full transform rounded-2xl object-cover shadow-2xl transition-transform duration-500 hover:scale-105"
  />
</div>
