@let vm = vm$ | async;

@if (vm && form) {
  <div [tuiSkeleton]="vm.cities.isLoading">
    <b class="mb-3 flex items-center justify-between border-b border-gray-100 pb-3 text-lg">
      <ng-content select="span"></ng-content>
      <span class="xl:hidden">
        <tui-icon
          icon="@tui.info"
          [tuiHint]="'pickupPoint.info' | transloco"
          [style.color]="'var(--color-yellow-500)'"
          [style.font-size.rem]="1.5"
        />
      </span>
    </b>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-5">
    <div class="relative">
      <tui-textfield
        tuiChevron
        [stringify]="stringifyCity"
        [tuiSkeleton]="vm.cities.isLoading"
        tuiDropdownMobile="Город отправления"
      >
        <input
          tuiComboBox
          [formControl]="city"
          [tuiHint]="[] | tuiFieldErrorContent"
          tuiHintAppearance="error"
          [placeholder]="'pickupPoint.placeholders.city' | transloco"
        />

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="vm.cities.items | tuiFilterByInput"
        />
      </tui-textfield>
    </div>

    @if (vm.cities.selected) {
      @if (vm.tabs.length) {
        <div class="mt-1">
          <div class="grid grid-cols-2 gap-3">
            @for (tab of vm.tabs; track tab.id) {
              <button
                type="button"
                tuiButton
                [appearance]="tab === vm.activeTab ? 'primary' : 'outline'"
                (click)="onTabChange(tab.id)"
              >
                <span class="font-medium">{{ tab.name | transloco }}</span>
              </button>
            }
          </div>
        </div>
      }
    }

    <div class="tab-content">
      @switch (vm.activeTab?.id) {
        @case (TabType.OFFICE) {
          <div class="rounded-lg bg-gray-50 p-3">
            <div class="mb-2 flex items-center text-sm text-gray-600">
              <tui-icon
                icon="@tui.map-pin"
                class="mr-2"
                [style.color]="'var(--color-gray-600)'"
                [style.font-size.rem]="1"
              />
              <span>{{ 'pickupPoint.labels.office' | transloco }}</span>
            </div>
            <tui-textfield
              tuiChevron
              [stringify]="stringifyOffice"
              [tuiSkeleton]="vm.offices.isLoading"
              tuiDropdownMobile="Адрес отделения"
            >
              <input
                tuiSelect
                [formControl]="office"
                [tuiHint]="[] | tuiFieldErrorContent"
                [placeholder]="'pickupPoint.placeholders.office' | transloco"
              />

              <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="vm.offices.items" />
            </tui-textfield>
          </div>
        }
        @case (TabType.COURIER) {
          <div class="rounded-lg bg-gray-50 p-3">
            @defer {
              <app-courier-details [formControl]="courierPoint" />
            } @placeholder (minimum 500ms) {
              <div>
                <div>
                  <span class="mb-1 inline-block" [tuiSkeleton]="true"></span>
                  <div class="h-12" [tuiSkeleton]="true"></div>
                </div>
                <div class="mb-2 grid grid-cols-1 gap-4 sm:grid-cols-2">
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                </div>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      }
    </div>

    @if (vm.activeTab?.id) {
      <div class="mt-1">
        <div class="mb-2 flex items-center text-sm text-gray-600">
          <span>{{ 'pickupPoint.labels.departureDate' | transloco }}</span>
        </div>
        <tui-textfield tuiDropdownMobile="Pick a date">
          <input formControlName="departureDate" tuiInputDate />
          <tui-calendar *tuiTextfieldDropdown />
        </tui-textfield>
      </div>
    }
  </form>
}
