@let isLoading = !!(isLoading$ | async);

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-3">
  <label tuiLabel class="mb-3">
    <span class="inline-block text-sm text-gray-700 mb-1">
      {{ 'auth.labels.email' | transloco }}
    </span>
    <div class="relative">
      <tui-textfield>
        <input
          tuiTextfield
          [formControl]="email"
          [tuiHint]="[] | tuiFieldErrorContent"
          [placeholder]="'auth.placeholders.email' | transloco"
          tuiHintAppearance="error"
        />
      </tui-textfield>
    </div>
  </label>
  <button
    type="submit"
    tuiButton
    class="mt-4 w-full"
    [loading]="isLoading"
    [disabled]="isLoading || form.invalid"
  >
    {{ 'auth.buttons.forgotPassword' | transloco }}
  </button>
</form>
