<div [class]="cardContentClass">
  <div [class]="iconWrapperClass">
    @if (doc.name) {
      <tui-icon
        icon="@tui.file-text"
        class="absolute transition-all group-hover/card:-translate-y-100"
        [style.font-size.rem]="isCardLarge ? 2 : 1.5"
      ></tui-icon>
      <span [class]="iconLabelClass">
        {{ doc.type }}
      </span>
    }
  </div>
  <div>
    <h4 [class]="titleClass">
      {{ doc.name }}
    </h4>
    @if (isCardLarge) {
      <p>
        Ознакомьтесь с полными правилами приемки и отправки грузов, чтобы обеспечить безопасную и
        быструю доставку вашей посылки.
      </p>

      <button
        type="button"
        tuiButton
        class="mt-6 shadow-xs transition-all active:translate-y-[2px] active:shadow-none"
        (click)="onShow()"
      >
        Открыть файл
      </button>
    }
  </div>
  @if (!isCardLarge) {
    <tui-icon [icon]="icon" [style.font-size.rem]="1.5" [class]="iconClass" />
  }
</div>
