@if (appearance === 'accent') {
  <p class="mb-5 font-heading text-lg md:text-xl">
    Вы можете скачать файл «{{ doc.name }}» в формате PDF
  </p>
  <button type="button" class="flex items-center" (click)="onShow()">
    <img [src]="getIcon(doc.type)" alt="PDF" height="42" width="42" class="mr-4" />
    <span
      [class]="
        cn('relative text-black hover:cursor-pointer', 'border-b border-dashed border-black')
      "
      ><b>Скачать в PDF</b> (80 кб)</span
    >
  </button>
} @else {
  <img [src]="getIcon(doc.type)" alt="PDF" height="42" width="42" class="mr-4" />
  <div>
    <p class="mb-2.5">{{ doc.name }}</p>
    <button
      type="button"
      [class]="
        cn(
          'relative text-blue-500',
          'border-b border-dashed border-blue-500',
          'hover:cursor-pointer hover:opacity-75'
        )
      "
      (click)="onShow()"
    >
      <span
        ><b class="font-medium">{{ getLabel(doc.type) }}</b></span
      >
    </button>
  </div>
}
